{% extends 'layout.twig' %}

{% block title %}Derniers billets du blog{% endblock %}

{% block content %}
    <section class="banner offset-next-element" style="background-image: url('./ressources/images/vector-shapes.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Derniers billets du blog</h1>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-white.svg" alt="">
    </section>
    <main class="archive offset-next-element">
        <div class="wrapper">
            <div class="posts">
                {% for post in posts %}
                    <div class="post">
                        <img class="thumbnail" src="./ressources/images/{{ post.image }}" alt="">
                            {% if session.role == 'Admin' %}
                                <div class="actions">
                                    <a href="index.php?action=updatePost&id={{ post.identifier }}"><i class="fas fa-edit"></i>Modifier</a>
                                    <a href="index.php?action=deletePost&id={{ post.identifier }}"><i class="fas fa-trash"></i>Supprimer</a>
                                </div>
                            {% endif %}
                        <div class="content">
                            <h3 class="title">{{ post.title }}</h3>
                            <p class="description">{{ post.content|length > 50 ? post.content|slice(0, 100) ~ '...' : post.content  }}</p>
                            <a class="button-secondary button-white" href="index.php?action=post&id={{ post.identifier }}">Lire l'article</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% include 'partials/work.twig' %}
{% endblock %}
