{% extends 'layout.twig' %}

{% block content %}

    <section class="banner" style="background-image: url('./ressources/images/vector-shapes.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Derniers billets du blog</h1>
            </div>
        </div>
        {# <div class="vector-shape"> #}
            <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-white.svg" alt="">
        {# </div> #}
    </section>

    <main class="archive">
        <div class="wrapper">
            <div class="posts">
                {% for post in posts %}
                    <div class="post">
                        <img class="thumbnail" src="./ressources/images/{{ post.image }}" alt="">
                            {% if session.role == 'Admin' %}
                                <div class="actions">
                                    <a href="index.php?action=updatePost&id={{ post.identifier }}">modifier</a>
                                    <a href="index.php?action=deletePost&id={{ post.identifier }}">supprimer</a>
                                </div>
                            {% endif %}
                        <div class="content">
                            <h3 class="title">{{ post.title }}</h3>
                            <p class="description">{{ post.content|length > 50 ? post.content|slice(0, 100) ~ '...' : post.content  }}</p>
                            <p><span class="author">{{ post.username }}</span> le <span class="date">{{ post.creationDate }}</span></p>
                            <a class="button-secondary button-white" href="index.php?action=post&id={{ post.identifier }}">Lire l'article</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
