{% extends 'layout.twig' %}

{% block head %}
    <title>Supprimer un article</title>
{% endblock %}

{% block content %}
    <section class="banner" style="background-image: url('./ressources/images/vector-shapes-2.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Suppression de l'article</h1>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-white.svg" alt="">
    </section>
    <div class="wrapper">
        <p><a href="index.php?action=post&id={{ post.identifier }}">Retour à l'article</a></p>
        <h2>Souhaitez-vous vraiment supprimer l'article ?</h2>
        <form action="index.php?action=deletePost&id={{ post.identifier }}" method="post">
            <div class="post">
                <div class="title">
                    <p><strong>{{ post.title }}</strong> le {{ post.creationDate }}</p>
                </div>
                <div class="content">
                    <p class="description">{{ post.content }}</p>
                </div>
            </div>
            <div>
                <input type="submit" value="Supprimer" />
            </div>
        </form>
    </div>

{% endblock %}