{% macro input(name, label, value = null, options = []) %}
    <form action="?p=contact" method="post">
        <label for="{{ name }}">{{ label }}</label>
        <input type="{{ options.type ?: 'text' }}" id="{{ name }}" name="{{ name }}" value = {{ value }}>
    </form>
{% endmacro %}

{% macro textarea(name, label, value = null, options = []) %}
    <form action="?p=contact" method="post">
        <label for="{{ name }}">{{ label }}</label>
        <textarea id="{{ name }}" name="{{ name }}">{{ value }}</textarea>
    </form>
{% endmacro %}