{% extends 'layout.twig' %}

{% block title %}Développeur web backend & frontend{% endblock %}

{% block content %}

    {% include 'partials/home_banner.twig' %}
    
    <section id="partners" class="partners">
        <div class="wrapper">
            <ul>
                <li><a target="_blank" href="https://github.com/FlorianJourde"><img src="/ressources/images/logos/github.png" loading="lazy" alt=""></a></li>
                <li><a target="_blank" href="https://x.com/Ctrl_FJ"><img src="/ressources/images/logos/x-logo.png" loading="lazy" alt=""></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/florianjourde/"><img src="/ressources/images/logos/linkedin.png" loading="lazy" alt=""></a></li>
                {#<li><a target="_blank" href="https://www.codewars.com/users/FlorianJourde"><img src="/ressources/images/logos/codewars.png" loading="lazy" alt=""></a></li>#}
                <li><a target="_blank" href="https://www.youtube.com/@ctrlzjams"><img src="/ressources/images/logos/youtube-logo.png" loading="lazy" alt=""></a></li>
                {#<li><a target="_blank" href="https://www.frontendmentor.io/profile/FlorianJourde"><img src="/ressources/images/logos/frontend-mentor.png" loading="lazy" alt=""></a></li>#}
                <li><a target="_blank" href="https://www.frontendmentor.io/profile/FlorianJourde"><img src="/ressources/images/logos/frontend-mentor-logo.png" loading="lazy" alt=""></a></li>
                <li class="copy-text" data-content="florianjourde"><a target="_blank" href="florianjourde"><img src="/ressources/images/logos/discord-logo.png" loading="lazy" alt=""></a></li>
            </ul>
        </div>
    </section>
    <main class="archive z-index-2 offset-next-element">
        <div class="wrapper">
            <h2 class="section-title">Derniers articles</h2>
            <div class="posts">
                {% for post in posts %}
                    <div class="post fade-in-up">
                        <img loading="lazy" class="thumbnail" src="/ressources/images/posts/{{ post.image }}" alt="">
                        {% if session.role == 'Admin' %}
                            <div class="actions icon-spacing white">
                                <a href="/article/modification/{{ post.identifier }}"><i class="fas fa-edit"></i>Modifier</a>
                                <a href="/article/suppression/{{ post.identifier }}"><i class="fas fa-trash"></i>Supprimer</a>
                            </div>
                        {% endif %}
                        <div class="content">
                            <h3 class="title">{{ post.title }}</h3>
                            <p class="description">{{ post.content | striptags | slice(0, 100) ~ '...' }}</p>
                            <a class="button-secondary rotate-icon button-white" href="/article/{{ post.identifier }}">Lire l'article<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <section class="portrait position-relative">

        <svg class="vector-shape fill-white vector-shape-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
            <use href="/ressources/images/vectors/vector-top-right-3.svg#swoop-2-bottom-left-white"/>
        </svg>

        <div class="wrapper">
            <div class="presentation">
                <img class="profile-picture" src="/ressources/images/florian.jpg" alt="">
                <h2>Bienvenue sur mon portfolio&nbsp!</h2>
                <p>Reconverti du milieu des <b>industries graphiques</b> vers le <b>développement web</b> depuis maintenant deux ans, mon parcours singulier m'a permis de développer des compétences en <b>design</b>, <b>marketing</b>, <b>communication</b>, <b>référencement</b>, <b>rédaction</b>...</p>
                <p>Malgré mon appétence naturelle pour le <b>développement frontend</b> ainsi que l'<b>UX</b> et l'<b>UI</b> des interface numériques, je suis aujourd'hui déterminé à apprendre et consolider mes connaissances dans tout ce qui touche à la partie <b>backend</b> des <b>sites internet</b>, dans l'optique de devenir un jour, je l'espère, <b>développeur full-stack</b>&nbsp!</p>
            </div>
        </div>

        <svg class="vector-shape fill-white vector-shape-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
            <use href="/ressources/images/vectors/vector-bottom-left.svg#swoop-2-bottom-left-white"/>
        </svg>

    </section>
    <section class="achievements z-index-3">
        <div class="wrapper">
            <h2 class="section-title">Réalisations</h2>
            <ul>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/centre-auto-87.jpg" alt="">
{#                    <a href="https://openclassrooms.com/fr/" target="_blank" class="reference">OpenClassrooms</a>#}
                    <span class="reference annotations">WordPress</span>
                    <div class="description">
                        <h3>Centre auto 87</h3>
                        <div class="links">
                            <a class="button-secondary button-white button-small" href="https://centreauto87.fr/" target="_blank"><i class="fas fa-globe"></i>Site</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/chalets-et-caviar.jpg" alt="">
                    <a href="https://openclassrooms.com/fr/" target="_blank" class="reference">OpenClassrooms</a>
                    <span class="reference annotations">WordPress</span>
                    <div class="description">
                        <h3>Chalets & Caviar</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="http://chaletsetcaviar.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-2-Wordpress-theme-integration-for-a-client"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/les-films-de-plein-air.jpg" alt="">
                    <a href="https://openclassrooms.com/fr/" target="_blank" class="reference">OpenClassrooms</a>
                    <span class="reference annotations">HTML • CSS • JS</span>
                    <div class="description">
                        <h3>Les Films de Plein Air</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/OpenClassrooms-3-Analyze-your-client-s-needs-for-their-film-festival/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-3-Analyze-your-client-s-needs-for-their-film-festival"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/snowtricks.jpg" alt="">
                    <a href="https://openclassrooms.com/fr/" target="_blank" class="reference">OpenClassrooms</a>
                    <span class="reference annotations">Symfony</span>
                    <div class="description">
                        <h3>Snowtricks</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://snowtricks.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-6-Develop-the-SnowTricks-community-site"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/todo-and-co.jpg" alt="">
                    <a href="https://openclassrooms.com/fr/" target="_blank" class="reference">OpenClassrooms</a>
                    <span class="reference annotations">Symfony</span>
                    <div class="description">
                        <h3>ToDo & Co</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://todoandco.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-8-Enhance-an-existing-ToDo-and-Co-app"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/space-tourism.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/space-tourism-with-react-and-scss-Lz0VJ2qBgL" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">React</span>
                    <div class="description">
                        <h3>Space Tourism</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-20-Space-tourism-multi-page-website/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-20-Space-tourism-multi-page-website"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/webask.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/interactive-comments-section-with-nodejs-and-nextjs-O-np7dUKEl" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">Node.js • Next.js • TS</span>
                    <div class="description">
                        <h3>Webask</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://webask.onrender.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-27-Interactive-comments-section"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/github-search-user.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/github-user-search-app-with-react-and-tailwind-css-_2qPUn88Ba" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">React • Tailwind • TS</span>
                    <div class="description">
                        <h3>GitHub Search User</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-23-GitHub-user-search-app/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-23-GitHub-user-search-app"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/galleria.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/galleria-slideshow-site-with-nextjs-and-typescript-rFp39uOFkz" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">Next.js • TS</span>
                    <div class="description">
                        <h3>Galleria</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-26-Galleria-slideshow-site/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-26-Galleria-slideshow-site"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                {# <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/blogr.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/blogr-landing-page-solution-with-html-css-js-GkOSPJcuN" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">HTML • CSS • JS</span>
                    <div class="description">
                        <h3>Blogr</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-17-Blogr-landing-page/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-17-Blogr-landing-page"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li> #}
                {# <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/splitter.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/tip-calculator-app-with-html-css-and-js-F8GbQECjT" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">HTML • CSS • JS</span>
                    <div class="description">
                        <h3>Splitter</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-15-Tip-calculator-app/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-15-Tip-calculator-app"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li> #}
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/time-tracker.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/time-tracking-dashboard-solution-with-html-css-js-LCqeEN-Wr" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">HTML • CSS • JS</span>
                    <div class="description">
                        <h3>Time Tracker</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-14-Time-tracking-dashboard/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-14-Time-tracking-dashboard"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/social-media-dashboard.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/social-media-dashboard-with-react-and-scss-GjGGCjkZqR" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">React • SCSS</span>
                    <div class="description">
                        <h3>Social Media Dashboard</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-19-Social-media-dashboard-with-theme-switcher/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-19-Social-media-dashboard-with-theme-switcher"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                {# <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/base-apparel.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/base-apparel-coming-soon-page-with-html-and-css-9ASECok1U" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">HTML • CSS • JS</span>
                    <div class="description">
                        <h3>Base Apparel</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-9-Base-apparel-coming-soon-master/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-9-Base-apparel-coming-soon-master"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li> #}
                {# <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/sunnyside.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/sunnyside-agency-landing-page-with-html-and-css-vTev7Ok3v" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">HTML • CSS</span>
                    <div class="description">
                        <h3>Sunnyside</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-16-Sunnyside-agency-landing-page/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-16-Sunnyside-agency-landing-page"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li> #}
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/calculator.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/calculator-app-with-react-and-tailwind-css-myzrAf2pRF" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">React • Tailwind • TS</span>
                    <div class="description">
                        <h3>Calculator</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-21-Calculator-app/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-21-Calculator-app"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

     {% include 'partials/testimonials.twig' %} 

    <section class="skills position-relative z-index-2">

        <svg class="vector-shape fill-white vector-shape-top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
            <use href="/ressources/images/vectors/vector-top-left-2.svg#swoop-2-bottom-left-white"/>
        </svg>

        <div class="wrapper">
            <h2 class="section-title">Compétences</h2>
            <ul>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/html-logo.png" alt=""><h3 style="color: var(--clr-text-orange);">HTML</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/sass-logo.png" alt=""><h3 style="color: var(--clr-text-pink);">Sass</h3></li>
                {#<li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/css3-logo.png" alt=""><h3 style="color: var(--clr-text-purple);">CSS</h3></li>#}
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/typescript-logo.png" alt=""><h3 style="color: var(--clr-text-dark-blue);">TypeScript</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/mysql-logo.png" alt=""><h3 style="color: var(--clr-text-dark-blue);">MySQL</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/php-logo.png" alt=""><h3 style="color: var(--clr-text-purple);">PHP</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/symfony-logo.png" alt=""><h3 style="color: var(--clr-text-black);">Symfony</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/react-logo.png" alt=""><h3 style="color: var(--clr-text-dark-blue);">React</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/wordpress-logo.png" alt=""><h3 style="color: var(--clr-text-black);">WordPress</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/git-logo.png" alt=""><h3 style="color: var(--clr-text-orange);">Git</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/node-js-logo.png" alt=""><h3 style="color: var(--clr-text-green);">Node.js</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/photoshop-logo.png" alt=""><h3 style="color: var(--clr-text-dark-blue);">Photoshop</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/indesign-logo.png" alt=""><h3 style="color: var(--clr-text-pink);">InDesign</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/tailwindcss-logo.png" alt=""><h3 style="color: var(--clr-text-black);">tailwindcss</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/next-js-logo.png" alt=""><h3 style="color: var(--clr-text-black);">Next.js</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/vite-logo.png" alt=""><h3 style="color: var(--clr-text-pink);">Vite</h3></li>
                {# <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/python-logo.png" alt=""><h3 style="color: var(--clr-text-grey);">Python</h3></li> #}
                {#<li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/framer-motion-logo.png" alt=""><h3 style="color: var(--clr-text-blue);">Framer Motion</h3></li>#}
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/motion-logo.png" alt=""><h3 style="color: var(--clr-text-yellow);">Motion</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/postman-logo.png" alt=""><h3 style="color: var(--clr-text-orange);">Postman</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/docker-logo.png" alt=""><h3 style="color: var(--clr-text-very-dark-blue);">Docker</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/acf-logo.png" alt=""><h3 style="color: var(--clr-text-dark-blue);">ACF</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/elementor-logo.png" alt=""><h3 style="color: var(--clr-text-dark-pink);">Elementor</h3></li>
            </ul>
        </div>
    </section>
    
    {% include 'partials/work.twig' with { fill : 'fill-very-light-grey' } %}
    
{% endblock %}