{% extends 'layout.twig' %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block session %}
{#    {{ dump(session) }}#}
    <h1>SESSION</h1>
{% endblock %}

{% block content %}
    {% if session.is_authenticated != true %}
        <a href="index.php?action=register">S'enregistrer</a>
        <a href="index.php?action=login">Se connecter</a>
    {% else %}
        <h2>Bonjour {{ session.username }} !</h2>
        <a href="index.php?action=logoutUser">Se déconnecter</a>
    {% endif %}

    <h1>Le super blog de l'AVBN !</h1>
    <p>Derniers billets du blog :</p>

    {% for post in posts %}
    <div class="news">
        <h3>{{ post.title }} le {{ post.frenchCreationDate }}</h3>
        <p>
            {{ post.content }}
            <br />
            <em><a href="index.php?action=post&id={{ post.identifier }}">Commentaires</a></em>
        </p>
    </div>
    {% endfor %}
{% endblock %}