{% extends 'layout.twig' %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block session %}
{#    {{ dump(session) }}#}
    <h1>SESSION</h1>
{% endblock %}

{% block content %}
    <h1>Le super blog de l'AVBN !</h1>
    <a class="button-primary" href="index.php?action=archive">Tous les articles</a>
{% endblock %}

{#{% block content %}#}
{#    <h1>Le super blog de l'AVBN !</h1>#}
{#    <p>Derniers billets du blog :</p>#}

{#    {% for post in posts %}#}
{#    <div class="news">#}
{#        <h3>{{ post.title }} le {{ post.frenchCreationDate }}</h3>#}
{#        <p>#}
{#            {{ post.content }}#}
{#            <br />#}
{#            <em><a href="index.php?action=post&id={{ post.identifier }}">Commentaires</a></em>#}
{#        </p>#}
{#    </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}