{% extends 'layout.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section class="banner home">
        <div class="wrapper">
            <div class="introduction">
                <div class="title">
                    <h1><span style="font-weight: 400;">Développeur d'application</span> PHP/Symfony</h1>
                    <p class="placeholder">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum iaculis mauris. Suspendisse nec mauris elit.</p>
                    <p class="placeholder">Fusce consectetur sem at risus vestibulum, gravida dapibus dolor tincidunt.</p>
                    <a href="/#partners" role="button"><i class="fas fa-arrow-down"></i></a>
                </div>
                <div class="box">
                    <h2>Voir la vie en <span style="font-size: var(--fs-very-big-title);">
                        <span style="color: var(--clr-orange)">M</span><span style="color: var(--clr-blue)">o</span><span style="color: var(--clr-pink)">n</span><span style="color: var(--clr-green)">o</span><span style="color: var(--clr-yellow)">k</span><span style="color: var(--clr-purple)">a</span><span style="color: var(--clr-orange)">i</span>
                     !</span></h2>
                    <p class="placeholder">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum dui sit amet felis condimentum auctor et ac tortor. Nullam eget iaculis mauris. Suspendisse nec mauris elit. Fusce consectetur sem at risus vestibulum, gravida dapibus dolor tincidunt. Etiam nisi turpis, consectetur vel consequat viverra, varius eu arcu.</p>
                </div>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="/public/ressources/images/vectors/vector-bottom-right-white.svg" alt="">
    </section>
    <section id="partners" class="partners">
        <div class="wrapper">
            <ul>
                <li><a target="_blank" href="https://github.com/FlorianJourde"><img src="/public/ressources/images/logos/github.png" alt=""></a></li>
                <li><a target="_blank" href="https://twitter.com/Ctrl_FJ"><img src="/public/ressources/images/logos/twitter.png" alt=""></a></li>
                <li><a target="_blank" href="https://www.frontendmentor.io/profile/FlorianJourde"><img src="/public/ressources/images/logos/frontend-mentor.png" alt=""></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/florianjourde/"><img src="/public/ressources/images/logos/linkedin.png" alt=""></a></li>
                <li><a target="_blank" href="https://www.codewars.com/users/FlorianJourde"><img src="/public/ressources/images/logos/codewars.png" alt=""></a></li>
                <li><a target="_blank" href="https://discordapp.com/users/831440023114088490"><img src="/public/ressources/images/logos/discord-logo.png" alt=""></a></li>
            </ul>
        </div>
    </section>
    <main class="archive offset-next-element">
        <div class="wrapper">
            <h2 class="section-title">Derniers articles</h2>
            <div class="posts">
                {% for post in posts %}
                    <div class="post">
                        <img class="thumbnail" src="/public/ressources/images/posts/{{ post.image }}" alt="">
                        {% if session.role == 'Admin' %}
                            <div class="actions icon-spacing white">
                                <a href="?action=updatePost&id={{ post.identifier }}"><i class="fas fa-edit"></i>Modifier</a>
                                <a href="?action=deletePost&id={{ post.identifier }}"><i class="fas fa-trash"></i>Supprimer</a>
                            </div>
                        {% endif %}
                        <div class="content">
                            <h3 class="title">{{ post.title }}</h3>
                            <p class="description placeholder">{{ post.content | striptags | slice(0, 100) ~ '...' }}</p>
                            <a class="button-secondary button-white" href="?action=post&id={{ post.identifier }}">Lire l'article<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <section class="portrait position-relative">
        <img class="vector-shape vector-shape-top" src="/public/ressources/images/vectors/vector-top-right-white-3.svg" alt="">
        <div class="wrapper">
            <img class="profile-picture" src="/public/ressources/images/florian.jpg" alt="">
            <div class="presentation">
                <h2>Bienvenue sur mon blog !</h2>
                <p class="placeholder">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum iaculis mauris. Suspendisse nec mauris elit.</p>
                <p class="placeholder">Fusce consectetur sem at risus vestibulum, gravida dapibus dolor tincidunt.</p>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="/public/ressources/images/vectors/vector-bottom-left-white.svg" alt="">
    </section>
    <section class="achievements">
        <div class="wrapper">
            <h2 class="section-title">Réalisations</h2>
            <ul>
                <li>
                    <img src="/public/ressources/images/thumbnails/chalets-et-caviar-min.jpg" alt="">
                    <div class="description">
                        <h3>Chalets & Caviar</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="http://chaletsetcaviar.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-2-Wordpress-theme-integration-for-a-client"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/public/ressources/images/thumbnails/les-films-de-plein-air-min.jpg" alt="">
                    <div class="description">
                        <h3>Les Films de plein air</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="http://lesfilmsdepleinair.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                        <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-3-Analyze-your-client-s-needs-for-their-film-festival"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/public/ressources/images/thumbnails/blogr-min.jpg" alt="">
                    <div class="description">
                        <h3>Blogr</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-17-Blogr-landing-page/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-17-Blogr-landing-page"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/public/ressources/images/thumbnails/sunnyside-min.jpg" alt="">
                    <div class="description">
                        <h3>Sunnyside</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-16-Sunnyside-agency-landing-page/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-16-Sunnyside-agency-landing-page"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/public/ressources/images/thumbnails/splitter-min.jpg" alt="">
                    <div class="description">
                        <h3>Splitter</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-15-Tip-calculator-app/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-15-Tip-calculator-app"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/public/ressources/images/thumbnails/time-tracker-min.jpg" alt="">
                    <div class="description">
                        <h3>Time Tracker</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-14-Time-tracking-dashboard/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-14-Time-tracking-dashboard"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="skills position-relative ahead">
        <img class="vector-shape vector-shape-top" src="/public/ressources/images/vectors/vector-top-left-white-2.svg" alt="">
        <div class="wrapper">
            <h2 class="section-title">Compétences</h2>
            <ul>
                <li><img src="/public/ressources/images/logos/html-logo.png" alt=""><h3 style="color: #e44d26;">HTML</h3></li>
                <li><img src="/public/ressources/images/logos/sass-logo.png" alt=""><h3 style="color: #cd6799;">Sass</h3></li>
                <li><img src="/public/ressources/images/logos/javascript-logo.png" alt=""><h3 style="color: #000000;">Javascript</h3></li>
                <li><img src="/public/ressources/images/logos/mysql-logo.png" alt=""><h3 style="color: #00758f;">MySQL</h3></li>
                <li><img src="/public/ressources/images/logos/php-logo.png" alt=""><h3 style="color: #8993be;">PHP</h3></li>
                <li><img src="/public/ressources/images/logos/symfony-logo.png" alt=""><h3 style="color: #1a171b;">Symfony</h3></li>
                <li><img src="/public/ressources/images/logos/git-logo.png" alt=""><h3 style="color: #de4c36;">Github</h3></li>
                <li><img src="/public/ressources/images/logos/wordpress-logo.png" alt=""><h3 style="color: #32373c;">Wordpress</h3></li>
                <li><img src="/public/ressources/images/logos/twig-logo.png" alt=""><h3 style="color: #52820f;">Twig</h3></li>
                <li><img src="/public/ressources/images/logos/photoshop-logo.png" alt=""><h3 style="color: #31a8ff;">Photoshop</h3></li>
                <li><img src="/public/ressources/images/logos/illustrator-logo.png" alt=""><h3 style="color: #df8600;">Illustrator</h3></li>
                <li><img src="/public/ressources/images/logos/indesign-logo.png" alt=""><h3 style="color: #ff3068;">InDesign</h3></li>
                <li><img src="/public/ressources/images/logos/jquery-logo.png" alt=""><h3 style="color: #1266a9;">jQuery</h3></li>
                <li><img src="/public/ressources/images/logos/vue-js-logo.png" alt=""><h3 style="color: #41b883;">Vue.js</h3></li>
                <li><img src="/public/ressources/images/logos/figma-logo.png" alt=""><h3 style="color: #a259ff;">Figma</h3></li>
            </ul>
        </div>
    </section>
    <section class="work position-relative">
        <img class="vector-shape vector-shape-top" src="/public/ressources/images/vectors/vector-top-left-very-light-grey-2.svg" alt="">
        <div class="wrapper">
            <div class="box">
                <div class="icon"><i class="fas fa-file"></i></div>
                <div class="question">
                    <h2>Mon travail vous plaît ?</h2>
                    <p>N'hésitez pas à consulter mon CV !</p>
                </div>
                <a class="button-primary button-yellow" href="/public/ressources/documents/Florian-Jourde-CV.pdf" target=”_blank”><i class="fas fa-download"></i>Télécharger le document</a>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="/public/ressources/images/vectors/vector-bottom-right-dark-grey.svg" alt="">
    </section>
{% endblock %}