{% extends 'layout.twig' %}

{% block title %}Développeur web back-end & front-end{% endblock %}

{% block content %}
    <section class="banner z-index-2 home">
        <svg id="cross-1" class="custom-shape fill-dark-gray" viewBox="0 0 550 550" width="550" height="550">
            <path id="Calque 2" class="s0" d="m74 41.2c4-0.6 11.4-0.7 16.5-0.4 5.1 0.2 12.7 1.4 16.9 2.6 4.3 1.2 11.3 3.8 15.3 5.8 5.7 2.7 23.1 15.8 138.1 106.1l51.4-65.2c39.1-49.6 52.9-66.4 57.8-70.3 3.6-3 9.6-7.1 13.5-9.3 3.9-2.2 11.3-5.1 16.3-6.8 6.6-1.9 12.1-2.9 19.2-3.4 6.3-0.3 13.4 0 19.1 0.9 4.9 0.8 11.4 2.5 14.4 3.5 3.1 1.2 8.5 3.5 12 5.4 3.6 1.8 9.2 5.5 12.6 8.2 3.4 2.6 8.3 7.3 10.9 10.3 2.6 3 6.2 7.7 8.1 10.4 1.7 2.6 4.8 8.6 6.8 13.2 2.2 5.3 4.1 12.1 5.3 18.3 1.2 7 1.5 12.6 1.2 19.5-0.4 5.3-1.6 13.2-2.8 17.4-1.2 4.3-3.8 11.3-5.8 15.3-2.7 5.7-15.8 23.1-106.1 138.1l65.2 51.4c49.6 39.1 66.4 52.9 70.3 57.8 3 3.6 7.1 9.6 9.3 13.5 2.2 3.9 5.2 11.3 6.8 16.3 2 6.6 2.9 12 3.4 19.2 0.2 5.5 0 13.4-0.7 17.5-0.6 4-2.1 10.4-3.2 13.9-1.1 3.7-3.6 9.7-5.6 13.6-2.1 3.8-5.8 9.7-8.5 13.1-2.6 3.4-7.5 8.4-10.7 11.3-3.3 2.8-8.6 6.7-11.9 8.7-3.2 1.9-9 4.8-12.8 6.3-3.8 1.7-11.4 3.7-16.8 4.8-7.1 1.2-12.6 1.6-19.5 1.2-5.3-0.4-13.2-1.6-17.4-2.8-4.3-1.2-11.2-3.8-15.3-5.8-5.7-2.7-23.1-15.8-138.1-106.1l-51.4 65.2c-39.1 49.6-52.9 66.4-57.8 70.3-3.5 3-9.6 7.1-13.5 9.3-3.9 2.2-11.3 5.1-16.3 6.8-6.6 2-12 2.9-19.2 3.4-5.5 0.2-13.4 0-17.5-0.7-4-0.6-10.4-2.1-14-3.2-3.6-1.1-9.6-3.6-13.5-5.6-3.8-2.1-9.7-5.8-13.1-8.5-3.4-2.6-8.4-7.5-11.3-10.7-2.8-3.3-6.7-8.6-8.7-11.9-1.9-3.2-4.8-9-6.3-12.8-1.7-3.8-3.7-11.4-4.8-16.8-1.2-7.1-1.6-12.6-1.2-19.5 0.4-5.3 1.6-13.2 2.8-17.4 1.2-4.3 3.8-11.2 5.8-15.3 2.7-5.7 15.8-23.1 106.1-138.1l-65.2-51.4c-49.6-39.1-66.4-52.9-70.3-57.8-2.9-3.5-7.1-9.6-9.3-13.5-2.2-3.9-5.1-11.3-6.8-16.3-1.9-6.6-2.9-12.1-3.4-19.2-0.3-6.3 0-13.4 0.9-19.1 0.8-4.9 2.5-11.4 3.5-14.5 1.2-3 3.5-8.4 5.4-11.9 1.8-3.6 5.5-9.2 8.2-12.6 2.6-3.4 7.5-8.4 10.7-11.3 3.3-2.8 8.5-6.7 11.6-8.5 3.1-1.9 8.2-4.6 11.4-5.8 3.2-1.4 7.7-3.1 10.1-3.8 2.5-0.7 7.8-1.7 11.9-2.3z"/>
        </svg>
        <svg id="dots-1" class="custom-shape fill-dark-gray" viewBox="0 0 1095 583" width="1095" height="583">
            <path id="Calque 2" class="s0" d="m37.5 0.5c4.3 0.4 8.7 1.4 11.5 2.8 2.5 1.2 6.9 4.5 9.9 7.2 2.9 2.8 6.4 7 7.6 9.5 1.3 2.5 2.7 6.8 3.3 9.5 0.5 2.8 0.6 7.3 0.1 10-0.4 2.8-1.4 6.6-2.2 8.5-0.8 1.9-3.2 5.8-5.4 8.5-2.2 2.8-6.1 6.4-8.9 8.2-2.7 1.8-8 3.9-11.9 4.8-5.5 1.3-8 1.4-11.7 0.6-2.7-0.6-6.9-2.2-9.5-3.5-2.7-1.3-7.1-4.8-9.9-7.7-2.7-3-6.1-7.6-7.4-10.4-2-4-2.5-6.6-2.5-13 0-6.2 0.5-9 2.2-12.5 1.2-2.5 3.6-6.3 5.3-8.5 1.8-2.2 5.5-5.7 8.3-7.8 2.9-2.1 7.2-4.5 9.7-5.3 3-0.9 6.9-1.2 11.5-0.9zm167-0.5c1.6 0 5.5 0.6 8.5 1.3 3 0.7 7.5 2.4 10 3.8 2.5 1.5 6.4 4.8 8.7 7.5 2.4 2.7 5.3 6.9 6.5 9.4 1.8 3.7 2.2 6.2 2.2 13.5 0 7.8-0.4 9.7-2.7 14.3-1.5 2.8-4.8 7.3-7.5 9.9-2.6 2.7-6.9 5.8-9.5 7-2.6 1.3-6.8 2.8-9.4 3.3-3.5 0.8-6.3 0.8-10.3-0.1-3-0.6-6.6-1.6-8-2.2-1.4-0.6-4.5-2.5-7-4.3-2.5-1.7-6.4-5.9-8.7-9.3-3-4.2-4.6-7.9-5.4-11.8-0.6-3.3-0.8-8.2-0.4-11.3 0.4-3 1.6-7.3 2.7-9.5 1.1-2.2 3.5-5.8 5.3-8 1.8-2.2 5.2-5.4 7.5-7 2.4-1.6 6.7-3.8 9.4-4.7 2.8-1 6.5-1.7 8.1-1.8zm174.5 0.5c4.2 0.3 8.4 1.4 12 3.2 3 1.5 7.5 4.8 10 7.3 2.5 2.5 5.8 7.3 7.5 10.6 2.5 5.1 2.9 7 2.9 13.9 0 6.9-0.4 8.8-2.9 13.9-1.7 3.2-5.2 8-8 10.6-2.7 2.6-6.8 5.6-9 6.7-2.2 1.1-6.5 2.6-9.5 3.3-4.6 0.9-6.6 0.9-12-0.5-3.6-0.9-8.7-3-11.4-4.8-2.8-1.8-6.7-5.4-8.9-8.2-2.2-2.7-4.6-6.6-5.4-8.5-0.8-1.9-1.8-5.5-2.3-8-0.5-2.6-0.5-6.6 0.1-9.5 0.5-2.7 1.8-6.8 2.9-9 1-2.2 3.6-6 5.8-8.5 2.1-2.5 5.9-5.9 8.3-7.5 2.3-1.6 6.3-3.6 8.8-4.2 2.6-0.8 7.4-1.1 11.1-0.8zm170-0.1c4.4 0.3 8.2 1.2 12 3.1 3 1.5 7.7 4.8 10.3 7.4 2.7 2.5 5.9 6.6 7.2 9.1 1.2 2.5 2.8 7 3.4 10 0.9 3.9 0.9 6.8 0.1 10.3-0.5 2.6-1.7 6.4-2.6 8.5-0.8 2-3 5.5-4.8 7.7-1.8 2.2-5.7 5.7-8.7 7.7-3.2 2.2-8.1 4.4-11.9 5.4-4.1 1-8 1.3-10.5 0.9-2.2-0.4-6.4-1.8-9.2-3.1-2.9-1.3-7.7-4.6-10.5-7.3-3.5-3.1-6.3-7.1-8.3-11.2-2.4-5.2-3-7.7-3-13.4 0-5.4 0.6-8.3 2.6-12.5 1.4-3 3.8-7.2 5.4-9.3 1.7-2.1 5.3-5.3 8-7.2 2.8-2 7-4.2 9.5-5 2.8-0.9 6.9-1.3 11-1.1zm167.5-0.4c1.6 0 5.8 0.7 9.3 1.5 3.4 0.8 8.1 2.8 10.5 4.3 2.3 1.6 5.8 4.7 7.7 6.9 1.9 2.2 4.6 6.2 6 8.9 2.1 4.2 2.5 6.2 2.5 13.9-0.1 7.5-0.5 9.8-2.5 14-1.4 2.7-4.8 7.2-7.5 10-2.7 2.7-7.1 6-9.8 7.3-2.6 1.2-6.8 2.7-9.4 3.3-3.7 0.8-6.4 0.7-11.8-0.5-5.1-1.1-8.6-2.7-13-5.8-3.8-2.8-7.3-6.4-9.7-10.3-2.2-3.4-4.3-8.3-4.9-11.5-0.6-3.1-0.8-7.9-0.4-11 0.4-3 1.6-7.3 2.7-9.5 1.1-2.2 3.5-5.8 5.3-8 1.8-2.2 5.2-5.4 7.5-7 2.4-1.6 6.7-3.8 9.4-4.7 2.8-1 6.5-1.7 8.1-1.8zm173.5 0.5c3 0.3 7.1 1 9 1.5 1.9 0.5 6.2 2.8 9.5 5.2 3.3 2.4 7.5 6.6 9.3 9.3 1.8 2.8 4 7.5 4.9 10.5 0.9 3.3 1.4 7.5 1.1 10.5-0.3 2.8-1.7 7.7-3.2 11-1.6 3.7-4.6 8-7.9 11.2-3 3-7.8 6.4-11.2 7.9-4.5 2.1-7.5 2.8-12 2.7-3.3 0-8.3-0.8-11-1.8-2.7-0.9-7.2-3.4-10-5.4-2.7-2.1-6.7-6.2-8.7-9.2-2.6-3.6-4.1-7.3-4.9-11.4-0.6-3.3-0.8-8.5-0.4-11.5 0.3-3 1.5-7.3 2.6-9.5 1-2.2 3.6-6 5.7-8.5 2.2-2.5 5.9-5.9 8.3-7.5 2.3-1.6 6.3-3.6 8.8-4.2 2.6-0.7 7.1-1 10.1-0.8zm168.5-0.5c2.2 0 6.9 0.9 10.5 2 3.6 1.1 8.4 3.4 10.6 5.2 2.3 1.8 5.8 5.3 7.8 7.8 2 2.5 4.4 6.8 5.3 9.5 1 2.8 1.7 7.9 1.7 11.5 0 5.2-0.6 7.8-3.1 13-2.1 4.4-5 8.2-9 11.8-3.5 3.3-8 6.2-11.3 7.4-3.4 1.3-7.8 2.1-11.5 2-3.7 0-8.3-0.8-12-2.3-4.4-1.6-7.6-3.8-12.1-8.3-4.4-4.4-6.7-7.7-8.4-12.1-1.5-4-2.3-8.2-2.3-12.5-0.1-4.9 0.5-7.9 2.4-12 1.4-3 3.8-7.2 5.4-9.3 1.7-2.1 5.3-5.3 8-7.2 2.8-2 7-4.2 9.5-4.9 2.5-0.8 6.3-1.5 8.5-1.6zm-1022 171.3c5 0.3 9.3 1.1 11.5 2.2 1.9 1 5.5 3.2 8 5 2.5 1.8 6.2 5.7 8.2 8.6 2.7 3.8 4.2 7.5 5.2 12.4 1.2 5.4 1.3 8.1 0.4 12-0.6 2.7-2 7-3.2 9.5-1.1 2.4-4.2 6.5-6.7 9-2.5 2.5-7 5.8-10 7.5-4.8 2.7-6.3 3-14.4 3-8 0-9.6-0.3-14.5-2.8-3-1.6-7.4-4.8-9.8-7-2.4-2.3-5.7-7.1-7.5-10.7-2.7-5.5-3.2-7.6-3.2-14 0-6.4 0.5-8.5 3.2-14 2.1-4.4 5-8.2 9-11.8 3.2-3 8.1-6.2 10.8-7.3 3.9-1.5 6.8-1.8 13-1.6zm170.5 0c5.2 0.3 9 1.1 12.5 2.7 2.8 1.3 7.3 4.5 10 7.1 2.8 2.6 6.4 7.3 8 10.5 2.7 5.3 3 6.8 2.9 14.9 0 6.7-0.5 10-1.9 13-1 2.2-4.8 6.9-8.4 10.6-3.7 3.6-8.4 7.4-10.6 8.4-3.1 1.5-6.2 1.9-13.5 1.9-8.7 0-10-0.2-14.9-2.9-3-1.7-7.4-5-9.9-7.5-2.4-2.5-5.6-7-7-10-2.2-4.6-2.7-6.9-2.7-14 0-7.2 0.4-9.3 2.7-14 1.5-3 4.4-7.3 6.5-9.4 2.1-2.1 5.4-5 7.3-6.3 1.9-1.2 5.3-3 7.5-3.8 2.7-1.1 6.4-1.4 11.5-1.2zm171 0c5.4 0.3 8.9 1.1 12.3 2.8 2.7 1.3 7.1 4.4 9.9 6.9 3.3 2.9 6.1 6.7 8.1 11 2.6 5.6 3.1 7.6 3.1 14.5 0 6.9-0.4 8.8-2.8 13.5-1.6 3-5.2 7.8-8 10.5-2.8 2.8-7.3 6.1-10.1 7.5-4.2 2-6.5 2.4-14 2.4-7.5 0-9.8-0.4-14-2.4-2.7-1.4-7.3-4.7-10-7.5-2.8-2.7-6.1-7.3-7.4-10-1.4-3-2.6-7.6-2.9-11.5-0.3-3.6 0.1-8.8 0.7-11.5 0.7-2.8 2.9-7.5 5-10.5 2.1-3 6-7.2 8.7-9.2 2.7-2 6.9-4.4 9.4-5.3q4.5-1.5 12-1.2zm168-0.2c3 0 7.5 0.4 10 1 2.5 0.6 7.1 2.9 10.4 5.2 3.2 2.3 7.3 6.2 9.1 8.7 1.8 2.5 4.1 6.7 5 9.5 1 2.7 1.8 7.7 1.8 11-0.1 3.3-0.8 8-1.7 10.5-1 2.5-3.4 6.7-5.5 9.5-2.1 2.7-6.2 6.7-9.2 8.8-3.9 2.7-7.2 4-11.9 4.8-4.8 0.9-8.2 0.9-13 0-4.7-0.8-8-2.1-11.9-4.8-3-2.1-6.7-5.3-8.2-7.1-1.6-1.7-3.8-4.9-4.8-7-1-2-2.5-6.4-3.2-9.7-1.1-5.3-1.1-6.8 0.5-12.5 0.9-3.6 3.2-8.7 4.9-11.4 1.8-2.7 5.2-6.7 7.7-8.8 2.5-2.2 6.8-4.8 9.5-5.8 2.8-1 7.5-1.9 10.5-1.9zm173 0.3c5.9 0.3 8.8 1 13.5 3.4 3.3 1.6 7.9 4.9 10.3 7.3 2.3 2.4 5.4 6.6 7 9.4 2.4 4.5 2.7 6 2.7 14.5-0.1 8.6-0.3 10-3 14.8-1.7 3-4.9 7.3-7.2 9.5-2.2 2.3-6.5 5.5-9.5 7.2-4.8 2.7-6.2 3-14.3 3-7.7 0-9.8-0.4-14.5-2.7-3-1.4-7.5-4.6-10-7-2.5-2.3-5.9-7-7.5-10.3-2.6-5.2-3-7.1-3-14.5 0-7 0.4-9.4 2.5-13.5 1.4-2.7 4.8-7.4 7.5-10.4 2.8-2.9 6.8-6.3 9-7.4 2.2-1.1 5.1-2.4 6.5-2.8 1.4-0.5 5.9-0.7 10-0.5zm171 0c6.2 0.2 8.6 0.9 13.9 3.7 3.8 2 8.2 5.4 10.8 8.4 2.4 2.7 5.3 7 6.5 9.5 1.7 3.5 2.2 6.3 2.2 13 0.1 7.1-0.3 9.3-2.4 13.4-1.4 2.7-4.8 7.4-7.5 10.4-2.9 3.1-7.3 6.5-10.5 8-4.7 2.3-6.8 2.7-14.5 2.6-8.1 0-9.5-0.3-14.3-2.9-3-1.7-7.3-4.9-9.5-7.2-2.3-2.2-5.5-6.5-7.2-9.5-2.7-4.8-2.9-6.1-2.9-14.8 0-8.3 0.3-10.1 2.7-14.8 1.5-2.8 4.7-7.2 7.2-9.7 2.5-2.5 6.4-5.5 8.7-6.7 2.3-1.1 5.4-2.5 6.8-2.9 1.4-0.5 5.9-0.7 10-0.5zm170.5-0.1c4.8 0.3 8.8 1.3 12.8 3.1 3.1 1.4 7.8 4.7 10.5 7.3 2.6 2.7 6 7.5 7.7 10.8 2.4 5 2.9 7.2 2.9 13.5 0 6.2-0.5 8.5-3 13.5-1.6 3.2-5.2 8.2-7.9 11-2.8 2.7-7.3 6.1-10 7.5-4.2 2-6.5 2.4-14 2.4-7.5 0-9.8-0.4-14-2.4-2.8-1.4-7.3-4.8-10-7.5-2.8-2.8-6.3-7.8-7.9-11-2.4-4.8-3-7.4-3-13-0.1-4.6 0.5-8.5 1.7-11.5 1.1-2.5 3.5-6.7 5.5-9.4 2.1-2.7 5.5-6.3 7.7-8 2.2-1.7 6.2-3.9 9-4.9 3.6-1.3 7-1.7 12-1.4zm-1022.5 170.3c3 0.2 8 1.6 11 3 3.2 1.5 7.9 5 11 8.2 3.9 4 6.3 7.5 7.9 11.7 1.4 3.8 2.3 8.2 2.3 12 0 3.6-0.8 8.2-2 11.5-1.2 3.2-4.1 7.8-7 11-2.9 3.2-7.5 6.9-11.3 9-5.9 3.1-7.1 3.4-14.9 3.4-6.9 0-9.4-0.5-13.4-2.5-2.8-1.3-7.3-4.7-10.2-7.4-2.9-2.8-6.4-7.4-7.8-10.5-1.4-3-2.9-7.8-3.2-10.5-0.4-2.9-0.1-7.3 0.6-10.5 0.7-3 2.2-7.1 3.3-9 1.2-1.9 4-5.5 6.2-7.9 2.2-2.4 5.7-5.4 7.8-6.7 2-1.3 6.1-3.1 9-3.9 3.2-0.9 7.3-1.3 10.7-0.9zm169-0.2c3 0.3 7.5 1.2 10 2.1 2.5 0.9 6.8 3.3 9.5 5.4 2.8 2.1 6.7 6.2 8.8 9.2 2.7 3.9 4 7.2 4.8 11.9 0.9 4.8 0.9 8.2 0 13-0.8 4.7-2.1 8-4.8 11.9-2.1 3-5.6 6.9-7.8 8.7-2.2 1.8-6.3 4.3-9 5.6-3.9 1.8-6.8 2.3-13 2.3-6.9 0-8.8-0.4-13.8-3-3.3-1.7-7.5-4.6-9.5-6.6-2.1-2-5.1-6.3-6.9-9.5-2.1-3.8-3.5-8-3.9-11.9-0.4-3.4-0.2-8.2 0.5-11.3 0.6-2.8 2.4-7.1 4-9.5 1.6-2.3 4.2-5.5 5.7-7.1 1.6-1.6 4.5-4 6.3-5.5 1.9-1.4 5.8-3.4 8.5-4.4 3.5-1.2 6.8-1.6 10.6-1.3zm172 0.2c3.1 0.3 8.2 1.7 11.8 3.4 3.4 1.7 8.1 4.9 10.5 7.3 2.3 2.4 5.5 7 7.1 10.3 2.5 5 3 7.1 3 13.9 0 6.8-0.4 8.9-2.9 14-1.6 3.3-5 8-7.5 10.5-2.5 2.5-7.3 5.8-10.6 7.5-5.1 2.6-7 3-13.9 3-6.4 0-9-0.5-13-2.5-2.7-1.3-7.4-4.7-10.4-7.4-2.9-2.8-6.3-7.1-7.6-9.6-1.3-2.5-2.8-7-3.3-10-0.7-3.5-0.7-7.2-0.1-10.3 0.5-2.6 1.9-6.8 3.2-9.4 1.2-2.6 4.5-7.1 7.2-9.9 2.8-2.8 6.9-6.1 9.3-7.2 2.3-1.2 5.9-2.6 8-3.2 2-0.5 6.2-0.7 9.2-0.4zm170.5-0.1c2.8 0.2 7 1.1 9.5 2 2.6 0.8 7.1 3.8 10.5 6.8 3.3 3 7.2 7.6 8.6 10.3 1.5 2.7 3.2 7.4 3.8 10.4 0.9 4.1 0.9 6.9 0 11-0.6 3-2.3 7.7-3.8 10.4-1.4 2.7-4.9 7-7.6 9.5-2.8 2.5-7 5.6-9.5 6.8-2.5 1.3-7.2 2.6-10.5 2.9-4.2 0.5-7.7 0.2-11.5-0.9-3-0.9-7.7-3.1-10.5-4.9-2.7-1.8-6.7-5.8-9-8.8-2.5-3.3-4.8-8.1-5.9-12-1.3-4.4-1.6-7.9-1.2-11 0.4-2.5 1.4-6.7 2.4-9.5 1.1-3.1 3.8-7.2 7.3-11 3.1-3.3 7.3-6.9 9.5-7.9 2.1-1.1 5.9-2.6 8.4-3.3 2.5-0.7 6.8-1.1 9.5-0.8zm170 0.1c2.8 0.2 6.6 1 8.5 1.6 1.9 0.6 5.9 2.7 8.9 4.7 3 2 7.1 5.8 9.1 8.6 2 2.7 4.3 6.6 5.1 8.5 0.8 2.1 1.4 6.9 1.3 12 0 7-0.5 9.4-2.5 13.3-1.3 2.7-4.4 7.1-6.9 9.9-2.9 3.2-6.8 6.1-11 8.2-5.6 2.7-7.5 3.1-14.5 3.1-6.4 0-9-0.5-13-2.5-2.7-1.3-7.5-4.9-10.5-7.9-3.1-3.1-6.7-7.9-8-10.6-1.9-4-2.4-6.6-2.4-13.5-0.1-7.5 0.2-9.2 2.9-14.3 1.6-3.3 4.7-7.6 6.8-9.8 2-2.1 5.6-5.1 7.9-6.7 2.3-1.5 6.3-3.3 8.8-3.9 2.5-0.7 6.8-1 9.5-0.7zm170.5-0.2c3 0.3 7.5 1.2 10 2.1 2.5 0.9 6.7 3.3 9.4 5.3 2.8 2 6.7 6.4 8.8 9.7 2.2 3.4 4.3 8.3 4.9 11.5 0.6 3 0.9 7.7 0.5 10.5-0.3 2.7-1.7 7.4-3.1 10.2-1.4 2.9-4.6 7.4-7.3 10.1-2.6 2.6-7.4 6.1-10.7 7.7-5.2 2.6-7.1 3-14 3-6.6 0-8.9-0.5-13.5-2.7-3-1.4-7.4-4.5-9.8-6.7-2.3-2.3-5.5-6.5-7.2-9.4-1.9-3.4-3.1-7.3-3.6-11.2-0.3-3.3-0.1-8.7 0.5-12 0.8-4.1 2.3-7.8 4.9-11.4 2-3 6.2-7.3 9.1-9.5 3-2.3 7.8-4.9 10.5-5.9 3.5-1.2 6.8-1.6 10.6-1.3zm168-0.3c0.8-0.1 4 0.4 7 0.9 3 0.6 7.5 2.1 9.9 3.3 2.4 1.2 6.5 4.6 9.2 7.4 2.7 2.9 6.1 7.9 7.6 11 2.1 4.6 2.7 7.3 2.7 12.8 0 5.8-0.5 8.1-3.2 13.7-1.8 3.8-5.1 8.7-7.5 11-2.4 2.4-7 5.6-10.3 7.3-5.1 2.6-7 3-13.9 3-6.2 0-9.1-0.5-13-2.3-2.7-1.3-6.8-3.8-9-5.6-2.2-1.8-5.4-5.5-7.2-8.2-1.8-2.7-3.9-7.8-4.8-11.4-1.1-4.3-1.5-8.1-1-11 0.3-2.5 1.6-6.8 2.9-9.5 1.2-2.8 4.2-7.2 6.6-9.9 2.5-2.6 6.5-6 9-7.4 2.5-1.5 6.5-3.2 9-3.9 2.5-0.6 5.2-1.2 6-1.2zm-1020.5 171.4c4.3 0.4 8.7 1.4 11.5 2.8 2.5 1.2 6.9 4.4 9.9 7.2 2.9 2.7 6.4 7 7.6 9.5 1.3 2.5 2.7 6.7 3.3 9.5 0.5 2.7 0.6 7.2 0.1 10-0.4 2.7-1.3 6.3-1.9 8-0.6 1.7-2.8 5.2-4.8 7.9-2 2.7-6.2 6.6-9.2 8.8-3.3 2.3-8.1 4.5-12 5.5-5.6 1.4-7.3 1.4-12 0.3-3-0.7-7.6-2.3-10.2-3.6-2.7-1.3-6.9-4.5-9.4-7.2-2.5-2.6-5.8-7.2-7.2-10.2-2.2-4.6-2.7-6.9-2.7-13.5 0-6.2 0.5-9 2.2-12.5 1.2-2.5 3.6-6.3 5.3-8.5 1.8-2.2 5.5-5.7 8.3-7.8 2.9-2.1 7.2-4.5 9.7-5.3 3-0.9 6.9-1.2 11.5-0.9zm167-0.5c1.6 0 5.5 0.6 8.5 1.3 3 0.7 7.5 2.4 10 3.8 2.5 1.5 6.4 4.8 8.7 7.5 2.4 2.7 5.3 6.9 6.5 9.4 1.8 3.6 2.2 6.2 2.2 13.5 0 8.1-0.3 9.5-2.9 14.4-1.7 3-4.7 7.1-6.7 9.2-2.1 2.2-5.5 5-7.5 6.4-2.1 1.3-6.7 3.2-10.3 4-4.2 1.1-7.9 1.4-10.5 1-2.2-0.4-5.8-1.4-8-2.3-2.2-0.8-6-3-8.5-4.7-2.5-1.8-6.4-6-8.7-9.4-3-4.2-4.6-7.9-5.4-11.9-0.6-3.2-0.8-8.1-0.4-11.2 0.4-3 1.6-7.3 2.7-9.5 1.1-2.2 3.5-5.8 5.3-8 1.8-2.2 5.2-5.3 7.5-7 2.4-1.7 6.7-3.8 9.4-4.7 2.8-1 6.5-1.7 8.1-1.8zm174.5 0.5c4.2 0.3 8.4 1.4 12 3.2 3 1.5 7.5 4.8 10 7.3 2.5 2.5 5.8 7.3 7.5 10.6 2.5 5.1 2.9 7 2.9 13.9 0 6.9-0.4 8.8-2.9 13.9-1.7 3.3-5.3 8-8.2 10.7-2.9 2.7-7.7 6-10.5 7.3-2.9 1.3-7.1 2.7-9.3 3.1-2.5 0.4-6.4 0.1-10.5-1-3.6-0.9-8.7-3-11.4-4.8-2.8-1.8-6.7-5.5-8.9-8.2-2.2-2.8-4.6-6.6-5.4-8.5-0.8-1.9-1.8-5.5-2.3-8-0.5-2.6-0.5-6.6 0.1-9.5 0.5-2.8 1.8-6.8 2.9-9 1-2.2 3.6-6 5.8-8.5 2.1-2.5 5.9-5.8 8.3-7.5 2.3-1.7 6.3-3.6 8.8-4.2 2.6-0.8 7.4-1.1 11.1-0.8zm170-0.1c4.4 0.3 8.2 1.2 12 3.1 3 1.5 7.7 4.8 10.3 7.4 2.7 2.5 5.9 6.6 7.2 9.1 1.2 2.5 2.8 7 3.4 10 0.9 4.1 0.9 6.8 0.1 10.5-0.6 2.7-2 6.9-3.1 9.2-1 2.4-4.3 6.7-7.1 9.6-2.9 3-7.2 6.3-9.5 7.5-2.4 1.2-6.4 2.7-9 3.3-3.4 0.7-6.5 0.7-10.8-0.1-3.3-0.6-7.6-1.8-9.5-2.8-1.9-0.9-6-4-9-6.8-3.7-3.4-6.5-7.2-8.5-11.5-2.4-5.2-3-7.7-3-13.4 0-5.4 0.6-8.3 2.6-12.5 1.4-3 3.8-7.2 5.4-9.3 1.7-2.1 5.3-5.3 8-7.2 2.8-2 7-4.2 9.5-5 2.8-0.9 6.9-1.3 11-1.1zm171 0.1c4.4 0.3 8.5 1.4 12.5 3.4 3.3 1.7 7.9 4.9 10.2 7.3 2.2 2.4 5.4 6.8 7 9.8 2.5 4.9 2.8 6.5 2.8 14.5 0 7.5-0.4 9.8-2.5 14-1.4 2.7-4.7 7.3-7.5 10-2.7 2.8-7.2 6.1-10 7.4-2.7 1.2-7.2 2.8-10 3.3-3.9 0.8-6.4 0.7-11.5-0.6-3.6-1-8.7-3.1-11.4-4.9-2.7-1.8-6.4-5-8.2-7.2-1.8-2.2-4.3-6.3-5.5-9-1.8-3.8-2.3-6.9-2.3-13-0.1-6.3 0.4-9.1 2.2-13 1.3-2.8 3.8-6.8 5.6-9 1.8-2.2 5.3-5.3 7.6-7 2.4-1.7 6.7-3.8 9.4-4.8 3.7-1.3 6.8-1.6 11.6-1.2zm170-0.1c3 0.2 8.2 1.4 11.5 2.7 4.2 1.6 7.5 3.8 11.3 7.6 2.8 2.9 6.4 7.9 7.9 11 2.3 4.7 2.8 7.2 2.8 13.3 0 6.3-0.5 8.6-3 14-1.7 3.6-5 8.4-7.3 10.7-2.3 2.4-6.6 5.4-9.4 6.8-2.9 1.3-7.5 3-10.3 3.6-4.1 0.9-6.2 0.8-11.5-0.5-3.8-1-8.8-3.2-11.9-5.4-3-2-7.4-6.4-9.8-9.7-2.4-3.3-4.7-7.6-5.1-9.5-0.4-1.9-0.7-6.9-0.6-11 0-5.5 0.6-8.7 2.2-12 1.2-2.5 3.9-6.5 6-9 2.2-2.5 5.9-5.8 8.3-7.5 2.3-1.7 6.3-3.6 8.8-4.2 2.6-0.7 7.1-1.1 10.1-0.9zm171 0c4.5 0.3 8.3 1.2 12.4 3.2 3.6 1.8 8 5.2 11.5 8.9 3.9 4.1 6.3 7.7 7.6 11.5 1.2 3.2 1.9 8.2 1.9 12 0 5.2-0.6 7.8-3.1 13-2.1 4.4-5 8.2-9 11.8-3.4 3.2-8 6.2-11.3 7.4-3.4 1.3-7.8 2.1-11.5 2.1-3.7 0-8.1-0.8-11.5-2.1-3.3-1.2-7.9-4.2-11.3-7.4-4-3.6-6.9-7.4-9-11.8-2.7-5.4-3.2-7.7-3.1-13.5 0-5.3 0.6-8.3 2.5-12.5 1.4-3 3.8-7.2 5.4-9.3 1.7-2.1 5.3-5.3 8-7.2 2.8-2 7-4.2 9.5-5 2.8-0.9 6.9-1.3 11-1.1z"/>
        </svg>
        <svg id="dots-2" class="custom-shape fill-dark-gray" viewBox="0 0 1095 583" width="1095" height="583">
            <path id="Calque 2" class="s0" d="m37.5 0.5c4.3 0.4 8.7 1.4 11.5 2.8 2.5 1.2 6.9 4.5 9.9 7.2 2.9 2.8 6.4 7 7.6 9.5 1.3 2.5 2.7 6.8 3.3 9.5 0.5 2.8 0.6 7.3 0.1 10-0.4 2.8-1.4 6.6-2.2 8.5-0.8 1.9-3.2 5.8-5.4 8.5-2.2 2.8-6.1 6.4-8.9 8.2-2.7 1.8-8 3.9-11.9 4.8-5.5 1.3-8 1.4-11.7 0.6-2.7-0.6-6.9-2.2-9.5-3.5-2.7-1.3-7.1-4.8-9.9-7.7-2.7-3-6.1-7.6-7.4-10.4-2-4-2.5-6.6-2.5-13 0-6.2 0.5-9 2.2-12.5 1.2-2.5 3.6-6.3 5.3-8.5 1.8-2.2 5.5-5.7 8.3-7.8 2.9-2.1 7.2-4.5 9.7-5.3 3-0.9 6.9-1.2 11.5-0.9zm167-0.5c1.6 0 5.5 0.6 8.5 1.3 3 0.7 7.5 2.4 10 3.8 2.5 1.5 6.4 4.8 8.7 7.5 2.4 2.7 5.3 6.9 6.5 9.4 1.8 3.7 2.2 6.2 2.2 13.5 0 7.8-0.4 9.7-2.7 14.3-1.5 2.8-4.8 7.3-7.5 9.9-2.6 2.7-6.9 5.8-9.5 7-2.6 1.3-6.8 2.8-9.4 3.3-3.5 0.8-6.3 0.8-10.3-0.1-3-0.6-6.6-1.6-8-2.2-1.4-0.6-4.5-2.5-7-4.3-2.5-1.7-6.4-5.9-8.7-9.3-3-4.2-4.6-7.9-5.4-11.8-0.6-3.3-0.8-8.2-0.4-11.3 0.4-3 1.6-7.3 2.7-9.5 1.1-2.2 3.5-5.8 5.3-8 1.8-2.2 5.2-5.4 7.5-7 2.4-1.6 6.7-3.8 9.4-4.7 2.8-1 6.5-1.7 8.1-1.8zm174.5 0.5c4.2 0.3 8.4 1.4 12 3.2 3 1.5 7.5 4.8 10 7.3 2.5 2.5 5.8 7.3 7.5 10.6 2.5 5.1 2.9 7 2.9 13.9 0 6.9-0.4 8.8-2.9 13.9-1.7 3.2-5.2 8-8 10.6-2.7 2.6-6.8 5.6-9 6.7-2.2 1.1-6.5 2.6-9.5 3.3-4.6 0.9-6.6 0.9-12-0.5-3.6-0.9-8.7-3-11.4-4.8-2.8-1.8-6.7-5.4-8.9-8.2-2.2-2.7-4.6-6.6-5.4-8.5-0.8-1.9-1.8-5.5-2.3-8-0.5-2.6-0.5-6.6 0.1-9.5 0.5-2.7 1.8-6.8 2.9-9 1-2.2 3.6-6 5.8-8.5 2.1-2.5 5.9-5.9 8.3-7.5 2.3-1.6 6.3-3.6 8.8-4.2 2.6-0.8 7.4-1.1 11.1-0.8zm170-0.1c4.4 0.3 8.2 1.2 12 3.1 3 1.5 7.7 4.8 10.3 7.4 2.7 2.5 5.9 6.6 7.2 9.1 1.2 2.5 2.8 7 3.4 10 0.9 3.9 0.9 6.8 0.1 10.3-0.5 2.6-1.7 6.4-2.6 8.5-0.8 2-3 5.5-4.8 7.7-1.8 2.2-5.7 5.7-8.7 7.7-3.2 2.2-8.1 4.4-11.9 5.4-4.1 1-8 1.3-10.5 0.9-2.2-0.4-6.4-1.8-9.2-3.1-2.9-1.3-7.7-4.6-10.5-7.3-3.5-3.1-6.3-7.1-8.3-11.2-2.4-5.2-3-7.7-3-13.4 0-5.4 0.6-8.3 2.6-12.5 1.4-3 3.8-7.2 5.4-9.3 1.7-2.1 5.3-5.3 8-7.2 2.8-2 7-4.2 9.5-5 2.8-0.9 6.9-1.3 11-1.1zm167.5-0.4c1.6 0 5.8 0.7 9.3 1.5 3.4 0.8 8.1 2.8 10.5 4.3 2.3 1.6 5.8 4.7 7.7 6.9 1.9 2.2 4.6 6.2 6 8.9 2.1 4.2 2.5 6.2 2.5 13.9-0.1 7.5-0.5 9.8-2.5 14-1.4 2.7-4.8 7.2-7.5 10-2.7 2.7-7.1 6-9.8 7.3-2.6 1.2-6.8 2.7-9.4 3.3-3.7 0.8-6.4 0.7-11.8-0.5-5.1-1.1-8.6-2.7-13-5.8-3.8-2.8-7.3-6.4-9.7-10.3-2.2-3.4-4.3-8.3-4.9-11.5-0.6-3.1-0.8-7.9-0.4-11 0.4-3 1.6-7.3 2.7-9.5 1.1-2.2 3.5-5.8 5.3-8 1.8-2.2 5.2-5.4 7.5-7 2.4-1.6 6.7-3.8 9.4-4.7 2.8-1 6.5-1.7 8.1-1.8zm173.5 0.5c3 0.3 7.1 1 9 1.5 1.9 0.5 6.2 2.8 9.5 5.2 3.3 2.4 7.5 6.6 9.3 9.3 1.8 2.8 4 7.5 4.9 10.5 0.9 3.3 1.4 7.5 1.1 10.5-0.3 2.8-1.7 7.7-3.2 11-1.6 3.7-4.6 8-7.9 11.2-3 3-7.8 6.4-11.2 7.9-4.5 2.1-7.5 2.8-12 2.7-3.3 0-8.3-0.8-11-1.8-2.7-0.9-7.2-3.4-10-5.4-2.7-2.1-6.7-6.2-8.7-9.2-2.6-3.6-4.1-7.3-4.9-11.4-0.6-3.3-0.8-8.5-0.4-11.5 0.3-3 1.5-7.3 2.6-9.5 1-2.2 3.6-6 5.7-8.5 2.2-2.5 5.9-5.9 8.3-7.5 2.3-1.6 6.3-3.6 8.8-4.2 2.6-0.7 7.1-1 10.1-0.8zm168.5-0.5c2.2 0 6.9 0.9 10.5 2 3.6 1.1 8.4 3.4 10.6 5.2 2.3 1.8 5.8 5.3 7.8 7.8 2 2.5 4.4 6.8 5.3 9.5 1 2.8 1.7 7.9 1.7 11.5 0 5.2-0.6 7.8-3.1 13-2.1 4.4-5 8.2-9 11.8-3.5 3.3-8 6.2-11.3 7.4-3.4 1.3-7.8 2.1-11.5 2-3.7 0-8.3-0.8-12-2.3-4.4-1.6-7.6-3.8-12.1-8.3-4.4-4.4-6.7-7.7-8.4-12.1-1.5-4-2.3-8.2-2.3-12.5-0.1-4.9 0.5-7.9 2.4-12 1.4-3 3.8-7.2 5.4-9.3 1.7-2.1 5.3-5.3 8-7.2 2.8-2 7-4.2 9.5-4.9 2.5-0.8 6.3-1.5 8.5-1.6zm-1022 171.3c5 0.3 9.3 1.1 11.5 2.2 1.9 1 5.5 3.2 8 5 2.5 1.8 6.2 5.7 8.2 8.6 2.7 3.8 4.2 7.5 5.2 12.4 1.2 5.4 1.3 8.1 0.4 12-0.6 2.7-2 7-3.2 9.5-1.1 2.4-4.2 6.5-6.7 9-2.5 2.5-7 5.8-10 7.5-4.8 2.7-6.3 3-14.4 3-8 0-9.6-0.3-14.5-2.8-3-1.6-7.4-4.8-9.8-7-2.4-2.3-5.7-7.1-7.5-10.7-2.7-5.5-3.2-7.6-3.2-14 0-6.4 0.5-8.5 3.2-14 2.1-4.4 5-8.2 9-11.8 3.2-3 8.1-6.2 10.8-7.3 3.9-1.5 6.8-1.8 13-1.6zm170.5 0c5.2 0.3 9 1.1 12.5 2.7 2.8 1.3 7.3 4.5 10 7.1 2.8 2.6 6.4 7.3 8 10.5 2.7 5.3 3 6.8 2.9 14.9 0 6.7-0.5 10-1.9 13-1 2.2-4.8 6.9-8.4 10.6-3.7 3.6-8.4 7.4-10.6 8.4-3.1 1.5-6.2 1.9-13.5 1.9-8.7 0-10-0.2-14.9-2.9-3-1.7-7.4-5-9.9-7.5-2.4-2.5-5.6-7-7-10-2.2-4.6-2.7-6.9-2.7-14 0-7.2 0.4-9.3 2.7-14 1.5-3 4.4-7.3 6.5-9.4 2.1-2.1 5.4-5 7.3-6.3 1.9-1.2 5.3-3 7.5-3.8 2.7-1.1 6.4-1.4 11.5-1.2zm171 0c5.4 0.3 8.9 1.1 12.3 2.8 2.7 1.3 7.1 4.4 9.9 6.9 3.3 2.9 6.1 6.7 8.1 11 2.6 5.6 3.1 7.6 3.1 14.5 0 6.9-0.4 8.8-2.8 13.5-1.6 3-5.2 7.8-8 10.5-2.8 2.8-7.3 6.1-10.1 7.5-4.2 2-6.5 2.4-14 2.4-7.5 0-9.8-0.4-14-2.4-2.7-1.4-7.3-4.7-10-7.5-2.8-2.7-6.1-7.3-7.4-10-1.4-3-2.6-7.6-2.9-11.5-0.3-3.6 0.1-8.8 0.7-11.5 0.7-2.8 2.9-7.5 5-10.5 2.1-3 6-7.2 8.7-9.2 2.7-2 6.9-4.4 9.4-5.3q4.5-1.5 12-1.2zm168-0.2c3 0 7.5 0.4 10 1 2.5 0.6 7.1 2.9 10.4 5.2 3.2 2.3 7.3 6.2 9.1 8.7 1.8 2.5 4.1 6.7 5 9.5 1 2.7 1.8 7.7 1.8 11-0.1 3.3-0.8 8-1.7 10.5-1 2.5-3.4 6.7-5.5 9.5-2.1 2.7-6.2 6.7-9.2 8.8-3.9 2.7-7.2 4-11.9 4.8-4.8 0.9-8.2 0.9-13 0-4.7-0.8-8-2.1-11.9-4.8-3-2.1-6.7-5.3-8.2-7.1-1.6-1.7-3.8-4.9-4.8-7-1-2-2.5-6.4-3.2-9.7-1.1-5.3-1.1-6.8 0.5-12.5 0.9-3.6 3.2-8.7 4.9-11.4 1.8-2.7 5.2-6.7 7.7-8.8 2.5-2.2 6.8-4.8 9.5-5.8 2.8-1 7.5-1.9 10.5-1.9zm173 0.3c5.9 0.3 8.8 1 13.5 3.4 3.3 1.6 7.9 4.9 10.3 7.3 2.3 2.4 5.4 6.6 7 9.4 2.4 4.5 2.7 6 2.7 14.5-0.1 8.6-0.3 10-3 14.8-1.7 3-4.9 7.3-7.2 9.5-2.2 2.3-6.5 5.5-9.5 7.2-4.8 2.7-6.2 3-14.3 3-7.7 0-9.8-0.4-14.5-2.7-3-1.4-7.5-4.6-10-7-2.5-2.3-5.9-7-7.5-10.3-2.6-5.2-3-7.1-3-14.5 0-7 0.4-9.4 2.5-13.5 1.4-2.7 4.8-7.4 7.5-10.4 2.8-2.9 6.8-6.3 9-7.4 2.2-1.1 5.1-2.4 6.5-2.8 1.4-0.5 5.9-0.7 10-0.5zm171 0c6.2 0.2 8.6 0.9 13.9 3.7 3.8 2 8.2 5.4 10.8 8.4 2.4 2.7 5.3 7 6.5 9.5 1.7 3.5 2.2 6.3 2.2 13 0.1 7.1-0.3 9.3-2.4 13.4-1.4 2.7-4.8 7.4-7.5 10.4-2.9 3.1-7.3 6.5-10.5 8-4.7 2.3-6.8 2.7-14.5 2.6-8.1 0-9.5-0.3-14.3-2.9-3-1.7-7.3-4.9-9.5-7.2-2.3-2.2-5.5-6.5-7.2-9.5-2.7-4.8-2.9-6.1-2.9-14.8 0-8.3 0.3-10.1 2.7-14.8 1.5-2.8 4.7-7.2 7.2-9.7 2.5-2.5 6.4-5.5 8.7-6.7 2.3-1.1 5.4-2.5 6.8-2.9 1.4-0.5 5.9-0.7 10-0.5zm170.5-0.1c4.8 0.3 8.8 1.3 12.8 3.1 3.1 1.4 7.8 4.7 10.5 7.3 2.6 2.7 6 7.5 7.7 10.8 2.4 5 2.9 7.2 2.9 13.5 0 6.2-0.5 8.5-3 13.5-1.6 3.2-5.2 8.2-7.9 11-2.8 2.7-7.3 6.1-10 7.5-4.2 2-6.5 2.4-14 2.4-7.5 0-9.8-0.4-14-2.4-2.8-1.4-7.3-4.8-10-7.5-2.8-2.8-6.3-7.8-7.9-11-2.4-4.8-3-7.4-3-13-0.1-4.6 0.5-8.5 1.7-11.5 1.1-2.5 3.5-6.7 5.5-9.4 2.1-2.7 5.5-6.3 7.7-8 2.2-1.7 6.2-3.9 9-4.9 3.6-1.3 7-1.7 12-1.4zm-1022.5 170.3c3 0.2 8 1.6 11 3 3.2 1.5 7.9 5 11 8.2 3.9 4 6.3 7.5 7.9 11.7 1.4 3.8 2.3 8.2 2.3 12 0 3.6-0.8 8.2-2 11.5-1.2 3.2-4.1 7.8-7 11-2.9 3.2-7.5 6.9-11.3 9-5.9 3.1-7.1 3.4-14.9 3.4-6.9 0-9.4-0.5-13.4-2.5-2.8-1.3-7.3-4.7-10.2-7.4-2.9-2.8-6.4-7.4-7.8-10.5-1.4-3-2.9-7.8-3.2-10.5-0.4-2.9-0.1-7.3 0.6-10.5 0.7-3 2.2-7.1 3.3-9 1.2-1.9 4-5.5 6.2-7.9 2.2-2.4 5.7-5.4 7.8-6.7 2-1.3 6.1-3.1 9-3.9 3.2-0.9 7.3-1.3 10.7-0.9zm169-0.2c3 0.3 7.5 1.2 10 2.1 2.5 0.9 6.8 3.3 9.5 5.4 2.8 2.1 6.7 6.2 8.8 9.2 2.7 3.9 4 7.2 4.8 11.9 0.9 4.8 0.9 8.2 0 13-0.8 4.7-2.1 8-4.8 11.9-2.1 3-5.6 6.9-7.8 8.7-2.2 1.8-6.3 4.3-9 5.6-3.9 1.8-6.8 2.3-13 2.3-6.9 0-8.8-0.4-13.8-3-3.3-1.7-7.5-4.6-9.5-6.6-2.1-2-5.1-6.3-6.9-9.5-2.1-3.8-3.5-8-3.9-11.9-0.4-3.4-0.2-8.2 0.5-11.3 0.6-2.8 2.4-7.1 4-9.5 1.6-2.3 4.2-5.5 5.7-7.1 1.6-1.6 4.5-4 6.3-5.5 1.9-1.4 5.8-3.4 8.5-4.4 3.5-1.2 6.8-1.6 10.6-1.3zm172 0.2c3.1 0.3 8.2 1.7 11.8 3.4 3.4 1.7 8.1 4.9 10.5 7.3 2.3 2.4 5.5 7 7.1 10.3 2.5 5 3 7.1 3 13.9 0 6.8-0.4 8.9-2.9 14-1.6 3.3-5 8-7.5 10.5-2.5 2.5-7.3 5.8-10.6 7.5-5.1 2.6-7 3-13.9 3-6.4 0-9-0.5-13-2.5-2.7-1.3-7.4-4.7-10.4-7.4-2.9-2.8-6.3-7.1-7.6-9.6-1.3-2.5-2.8-7-3.3-10-0.7-3.5-0.7-7.2-0.1-10.3 0.5-2.6 1.9-6.8 3.2-9.4 1.2-2.6 4.5-7.1 7.2-9.9 2.8-2.8 6.9-6.1 9.3-7.2 2.3-1.2 5.9-2.6 8-3.2 2-0.5 6.2-0.7 9.2-0.4zm170.5-0.1c2.8 0.2 7 1.1 9.5 2 2.6 0.8 7.1 3.8 10.5 6.8 3.3 3 7.2 7.6 8.6 10.3 1.5 2.7 3.2 7.4 3.8 10.4 0.9 4.1 0.9 6.9 0 11-0.6 3-2.3 7.7-3.8 10.4-1.4 2.7-4.9 7-7.6 9.5-2.8 2.5-7 5.6-9.5 6.8-2.5 1.3-7.2 2.6-10.5 2.9-4.2 0.5-7.7 0.2-11.5-0.9-3-0.9-7.7-3.1-10.5-4.9-2.7-1.8-6.7-5.8-9-8.8-2.5-3.3-4.8-8.1-5.9-12-1.3-4.4-1.6-7.9-1.2-11 0.4-2.5 1.4-6.7 2.4-9.5 1.1-3.1 3.8-7.2 7.3-11 3.1-3.3 7.3-6.9 9.5-7.9 2.1-1.1 5.9-2.6 8.4-3.3 2.5-0.7 6.8-1.1 9.5-0.8zm170 0.1c2.8 0.2 6.6 1 8.5 1.6 1.9 0.6 5.9 2.7 8.9 4.7 3 2 7.1 5.8 9.1 8.6 2 2.7 4.3 6.6 5.1 8.5 0.8 2.1 1.4 6.9 1.3 12 0 7-0.5 9.4-2.5 13.3-1.3 2.7-4.4 7.1-6.9 9.9-2.9 3.2-6.8 6.1-11 8.2-5.6 2.7-7.5 3.1-14.5 3.1-6.4 0-9-0.5-13-2.5-2.7-1.3-7.5-4.9-10.5-7.9-3.1-3.1-6.7-7.9-8-10.6-1.9-4-2.4-6.6-2.4-13.5-0.1-7.5 0.2-9.2 2.9-14.3 1.6-3.3 4.7-7.6 6.8-9.8 2-2.1 5.6-5.1 7.9-6.7 2.3-1.5 6.3-3.3 8.8-3.9 2.5-0.7 6.8-1 9.5-0.7zm170.5-0.2c3 0.3 7.5 1.2 10 2.1 2.5 0.9 6.7 3.3 9.4 5.3 2.8 2 6.7 6.4 8.8 9.7 2.2 3.4 4.3 8.3 4.9 11.5 0.6 3 0.9 7.7 0.5 10.5-0.3 2.7-1.7 7.4-3.1 10.2-1.4 2.9-4.6 7.4-7.3 10.1-2.6 2.6-7.4 6.1-10.7 7.7-5.2 2.6-7.1 3-14 3-6.6 0-8.9-0.5-13.5-2.7-3-1.4-7.4-4.5-9.8-6.7-2.3-2.3-5.5-6.5-7.2-9.4-1.9-3.4-3.1-7.3-3.6-11.2-0.3-3.3-0.1-8.7 0.5-12 0.8-4.1 2.3-7.8 4.9-11.4 2-3 6.2-7.3 9.1-9.5 3-2.3 7.8-4.9 10.5-5.9 3.5-1.2 6.8-1.6 10.6-1.3zm168-0.3c0.8-0.1 4 0.4 7 0.9 3 0.6 7.5 2.1 9.9 3.3 2.4 1.2 6.5 4.6 9.2 7.4 2.7 2.9 6.1 7.9 7.6 11 2.1 4.6 2.7 7.3 2.7 12.8 0 5.8-0.5 8.1-3.2 13.7-1.8 3.8-5.1 8.7-7.5 11-2.4 2.4-7 5.6-10.3 7.3-5.1 2.6-7 3-13.9 3-6.2 0-9.1-0.5-13-2.3-2.7-1.3-6.8-3.8-9-5.6-2.2-1.8-5.4-5.5-7.2-8.2-1.8-2.7-3.9-7.8-4.8-11.4-1.1-4.3-1.5-8.1-1-11 0.3-2.5 1.6-6.8 2.9-9.5 1.2-2.8 4.2-7.2 6.6-9.9 2.5-2.6 6.5-6 9-7.4 2.5-1.5 6.5-3.2 9-3.9 2.5-0.6 5.2-1.2 6-1.2zm-1020.5 171.4c4.3 0.4 8.7 1.4 11.5 2.8 2.5 1.2 6.9 4.4 9.9 7.2 2.9 2.7 6.4 7 7.6 9.5 1.3 2.5 2.7 6.7 3.3 9.5 0.5 2.7 0.6 7.2 0.1 10-0.4 2.7-1.3 6.3-1.9 8-0.6 1.7-2.8 5.2-4.8 7.9-2 2.7-6.2 6.6-9.2 8.8-3.3 2.3-8.1 4.5-12 5.5-5.6 1.4-7.3 1.4-12 0.3-3-0.7-7.6-2.3-10.2-3.6-2.7-1.3-6.9-4.5-9.4-7.2-2.5-2.6-5.8-7.2-7.2-10.2-2.2-4.6-2.7-6.9-2.7-13.5 0-6.2 0.5-9 2.2-12.5 1.2-2.5 3.6-6.3 5.3-8.5 1.8-2.2 5.5-5.7 8.3-7.8 2.9-2.1 7.2-4.5 9.7-5.3 3-0.9 6.9-1.2 11.5-0.9zm167-0.5c1.6 0 5.5 0.6 8.5 1.3 3 0.7 7.5 2.4 10 3.8 2.5 1.5 6.4 4.8 8.7 7.5 2.4 2.7 5.3 6.9 6.5 9.4 1.8 3.6 2.2 6.2 2.2 13.5 0 8.1-0.3 9.5-2.9 14.4-1.7 3-4.7 7.1-6.7 9.2-2.1 2.2-5.5 5-7.5 6.4-2.1 1.3-6.7 3.2-10.3 4-4.2 1.1-7.9 1.4-10.5 1-2.2-0.4-5.8-1.4-8-2.3-2.2-0.8-6-3-8.5-4.7-2.5-1.8-6.4-6-8.7-9.4-3-4.2-4.6-7.9-5.4-11.9-0.6-3.2-0.8-8.1-0.4-11.2 0.4-3 1.6-7.3 2.7-9.5 1.1-2.2 3.5-5.8 5.3-8 1.8-2.2 5.2-5.3 7.5-7 2.4-1.7 6.7-3.8 9.4-4.7 2.8-1 6.5-1.7 8.1-1.8zm174.5 0.5c4.2 0.3 8.4 1.4 12 3.2 3 1.5 7.5 4.8 10 7.3 2.5 2.5 5.8 7.3 7.5 10.6 2.5 5.1 2.9 7 2.9 13.9 0 6.9-0.4 8.8-2.9 13.9-1.7 3.3-5.3 8-8.2 10.7-2.9 2.7-7.7 6-10.5 7.3-2.9 1.3-7.1 2.7-9.3 3.1-2.5 0.4-6.4 0.1-10.5-1-3.6-0.9-8.7-3-11.4-4.8-2.8-1.8-6.7-5.5-8.9-8.2-2.2-2.8-4.6-6.6-5.4-8.5-0.8-1.9-1.8-5.5-2.3-8-0.5-2.6-0.5-6.6 0.1-9.5 0.5-2.8 1.8-6.8 2.9-9 1-2.2 3.6-6 5.8-8.5 2.1-2.5 5.9-5.8 8.3-7.5 2.3-1.7 6.3-3.6 8.8-4.2 2.6-0.8 7.4-1.1 11.1-0.8zm170-0.1c4.4 0.3 8.2 1.2 12 3.1 3 1.5 7.7 4.8 10.3 7.4 2.7 2.5 5.9 6.6 7.2 9.1 1.2 2.5 2.8 7 3.4 10 0.9 4.1 0.9 6.8 0.1 10.5-0.6 2.7-2 6.9-3.1 9.2-1 2.4-4.3 6.7-7.1 9.6-2.9 3-7.2 6.3-9.5 7.5-2.4 1.2-6.4 2.7-9 3.3-3.4 0.7-6.5 0.7-10.8-0.1-3.3-0.6-7.6-1.8-9.5-2.8-1.9-0.9-6-4-9-6.8-3.7-3.4-6.5-7.2-8.5-11.5-2.4-5.2-3-7.7-3-13.4 0-5.4 0.6-8.3 2.6-12.5 1.4-3 3.8-7.2 5.4-9.3 1.7-2.1 5.3-5.3 8-7.2 2.8-2 7-4.2 9.5-5 2.8-0.9 6.9-1.3 11-1.1zm171 0.1c4.4 0.3 8.5 1.4 12.5 3.4 3.3 1.7 7.9 4.9 10.2 7.3 2.2 2.4 5.4 6.8 7 9.8 2.5 4.9 2.8 6.5 2.8 14.5 0 7.5-0.4 9.8-2.5 14-1.4 2.7-4.7 7.3-7.5 10-2.7 2.8-7.2 6.1-10 7.4-2.7 1.2-7.2 2.8-10 3.3-3.9 0.8-6.4 0.7-11.5-0.6-3.6-1-8.7-3.1-11.4-4.9-2.7-1.8-6.4-5-8.2-7.2-1.8-2.2-4.3-6.3-5.5-9-1.8-3.8-2.3-6.9-2.3-13-0.1-6.3 0.4-9.1 2.2-13 1.3-2.8 3.8-6.8 5.6-9 1.8-2.2 5.3-5.3 7.6-7 2.4-1.7 6.7-3.8 9.4-4.8 3.7-1.3 6.8-1.6 11.6-1.2zm170-0.1c3 0.2 8.2 1.4 11.5 2.7 4.2 1.6 7.5 3.8 11.3 7.6 2.8 2.9 6.4 7.9 7.9 11 2.3 4.7 2.8 7.2 2.8 13.3 0 6.3-0.5 8.6-3 14-1.7 3.6-5 8.4-7.3 10.7-2.3 2.4-6.6 5.4-9.4 6.8-2.9 1.3-7.5 3-10.3 3.6-4.1 0.9-6.2 0.8-11.5-0.5-3.8-1-8.8-3.2-11.9-5.4-3-2-7.4-6.4-9.8-9.7-2.4-3.3-4.7-7.6-5.1-9.5-0.4-1.9-0.7-6.9-0.6-11 0-5.5 0.6-8.7 2.2-12 1.2-2.5 3.9-6.5 6-9 2.2-2.5 5.9-5.8 8.3-7.5 2.3-1.7 6.3-3.6 8.8-4.2 2.6-0.7 7.1-1.1 10.1-0.9zm171 0c4.5 0.3 8.3 1.2 12.4 3.2 3.6 1.8 8 5.2 11.5 8.9 3.9 4.1 6.3 7.7 7.6 11.5 1.2 3.2 1.9 8.2 1.9 12 0 5.2-0.6 7.8-3.1 13-2.1 4.4-5 8.2-9 11.8-3.4 3.2-8 6.2-11.3 7.4-3.4 1.3-7.8 2.1-11.5 2.1-3.7 0-8.1-0.8-11.5-2.1-3.3-1.2-7.9-4.2-11.3-7.4-4-3.6-6.9-7.4-9-11.8-2.7-5.4-3.2-7.7-3.1-13.5 0-5.3 0.6-8.3 2.5-12.5 1.4-3 3.8-7.2 5.4-9.3 1.7-2.1 5.3-5.3 8-7.2 2.8-2 7-4.2 9.5-5 2.8-0.9 6.9-1.3 11-1.1z"/>
        </svg>
        <svg id="triangle-4" class="custom-shape fill-dark-gray" viewBox="0 0 341 341" width="341" height="341">
            <path id="Forme 1" class="s0" d="m249.6 0.3l91 340.4-340.2-91.4z"/>
        </svg>
        <svg id="triangle-3" class="custom-shape fill-dark-gray" viewBox="0 0 341 341" width="341" height="341">
            <path id="Forme 1" class="s0" d="m249.6 0.3l91 340.4-340.2-91.4z"/>
        </svg>
        <svg id="circle-3" class="custom-shape fill-dark-gray" viewBox="0 0 484 484" width="484" height="484">
            <path class="s0" d="m242 484c-133.8 0-242-108.2-242-242 0-133.8 108.2-242 242-242 133.8 0 242 108.2 242 242 0 133.8-108.2 242-242 242z"/>
        </svg>
        <svg id="circle-4" class="custom-shape fill-dark-gray" viewBox="0 0 484 484" width="484" height="484">
            <path class="s0" d="m242 484c-133.8 0-242-108.2-242-242 0-133.8 108.2-242 242-242 133.8 0 242 108.2 242 242 0 133.8-108.2 242-242 242z"/>
        </svg>
        <svg id="cross-2" class="custom-shape fill-yellow rotate-1" viewBox="0 0 550 550" width="550" height="550">
            <path id="Calque 2" class="s0" d="m74 41.2c4-0.6 11.4-0.7 16.5-0.4 5.1 0.2 12.7 1.4 16.9 2.6 4.3 1.2 11.3 3.8 15.3 5.8 5.7 2.7 23.1 15.8 138.1 106.1l51.4-65.2c39.1-49.6 52.9-66.4 57.8-70.3 3.6-3 9.6-7.1 13.5-9.3 3.9-2.2 11.3-5.1 16.3-6.8 6.6-1.9 12.1-2.9 19.2-3.4 6.3-0.3 13.4 0 19.1 0.9 4.9 0.8 11.4 2.5 14.4 3.5 3.1 1.2 8.5 3.5 12 5.4 3.6 1.8 9.2 5.5 12.6 8.2 3.4 2.6 8.3 7.3 10.9 10.3 2.6 3 6.2 7.7 8.1 10.4 1.7 2.6 4.8 8.6 6.8 13.2 2.2 5.3 4.1 12.1 5.3 18.3 1.2 7 1.5 12.6 1.2 19.5-0.4 5.3-1.6 13.2-2.8 17.4-1.2 4.3-3.8 11.3-5.8 15.3-2.7 5.7-15.8 23.1-106.1 138.1l65.2 51.4c49.6 39.1 66.4 52.9 70.3 57.8 3 3.6 7.1 9.6 9.3 13.5 2.2 3.9 5.2 11.3 6.8 16.3 2 6.6 2.9 12 3.4 19.2 0.2 5.5 0 13.4-0.7 17.5-0.6 4-2.1 10.4-3.2 13.9-1.1 3.7-3.6 9.7-5.6 13.6-2.1 3.8-5.8 9.7-8.5 13.1-2.6 3.4-7.5 8.4-10.7 11.3-3.3 2.8-8.6 6.7-11.9 8.7-3.2 1.9-9 4.8-12.8 6.3-3.8 1.7-11.4 3.7-16.8 4.8-7.1 1.2-12.6 1.6-19.5 1.2-5.3-0.4-13.2-1.6-17.4-2.8-4.3-1.2-11.2-3.8-15.3-5.8-5.7-2.7-23.1-15.8-138.1-106.1l-51.4 65.2c-39.1 49.6-52.9 66.4-57.8 70.3-3.5 3-9.6 7.1-13.5 9.3-3.9 2.2-11.3 5.1-16.3 6.8-6.6 2-12 2.9-19.2 3.4-5.5 0.2-13.4 0-17.5-0.7-4-0.6-10.4-2.1-14-3.2-3.6-1.1-9.6-3.6-13.5-5.6-3.8-2.1-9.7-5.8-13.1-8.5-3.4-2.6-8.4-7.5-11.3-10.7-2.8-3.3-6.7-8.6-8.7-11.9-1.9-3.2-4.8-9-6.3-12.8-1.7-3.8-3.7-11.4-4.8-16.8-1.2-7.1-1.6-12.6-1.2-19.5 0.4-5.3 1.6-13.2 2.8-17.4 1.2-4.3 3.8-11.2 5.8-15.3 2.7-5.7 15.8-23.1 106.1-138.1l-65.2-51.4c-49.6-39.1-66.4-52.9-70.3-57.8-2.9-3.5-7.1-9.6-9.3-13.5-2.2-3.9-5.1-11.3-6.8-16.3-1.9-6.6-2.9-12.1-3.4-19.2-0.3-6.3 0-13.4 0.9-19.1 0.8-4.9 2.5-11.4 3.5-14.5 1.2-3 3.5-8.4 5.4-11.9 1.8-3.6 5.5-9.2 8.2-12.6 2.6-3.4 7.5-8.4 10.7-11.3 3.3-2.8 8.5-6.7 11.6-8.5 3.1-1.9 8.2-4.6 11.4-5.8 3.2-1.4 7.7-3.1 10.1-3.8 2.5-0.7 7.8-1.7 11.9-2.3z"/>
        </svg>
        <svg id="dash-border-1" class="custom-shape fill-blue up-down-1" viewBox="0 0 845 680" width="845" height="680">
            <path id="Calque 1" fill-rule="evenodd" class="s0" d="m843.5 591.9c-0.1 0.8-1.3 5.4-2.6 10.2-1.4 4.8-4.4 12.4-6.6 17.1-2.4 4.7-6.3 11.5-8.9 15.2-2.7 3.7-7.7 9.9-11.4 13.7-3.7 3.9-10.5 9.7-15.2 13-4.7 3.2-11.5 7.4-15.1 9.1-3.7 1.8-10.8 4.4-15.8 5.8-5 1.3-12.8 2.8-17.3 3.1-4.5 0.3-12.3 0.2-17.2-0.3-5.1-0.6-12.7-2.2-17.6-3.8-4.8-1.5-12.6-4.6-17.4-6.7-4.7-2.2-13.5-7-19.5-10.6-5.8-3.6-19-12.5-29.2-19.6-10.2-7.2-143.3-106-295.9-219.6-20.9-15.5-41.4-30.7-61.1-45.5-124.7-92.7-222-165.4-227.4-169.6-6.1-4.9-15-12.3-19.7-16.6-4.8-4.2-11.2-10.4-14.3-13.8-3.2-3.3-8.5-10-11.8-14.8-3.4-4.7-8-12.9-10.3-18-2.3-5.2-5-13.4-6.1-18.4-1-4.9-2-12.8-2.1-17.6-0.2-6.6 0.5-11.6 2.6-21.4 2.1-9.6 3.8-14.7 6.9-21.1 2.3-4.6 6.8-12 9.9-16.5 3.2-4.4 8.3-10.7 11.3-13.8 3-3.1 8.1-7.7 11.3-10.2 3.3-2.4 8.9-6.3 12.8-8.6 3.7-2.2 10.7-5.4 15.5-7.2 4.7-1.7 13.1-3.8 18.5-4.5 8.8-1.2 11.6-1.2 24.3 0.7 11.9 1.7 16 2.7 23.8 5.8 5.3 2 13.9 6.2 19.2 9.2 5.4 3 15.7 9.3 22.9 14.3 7.3 4.9 129.3 95.3 271.3 200.7 141.9 105.5 275.2 204.7 296.2 220.5 21 15.8 42.6 32.7 48.2 37.5 5.5 4.9 12.4 11.4 15.2 14.3 2.9 3 7.6 8.5 10.6 12.1 3 3.6 7.5 10.2 9.8 14.5 2.4 4.2 5.8 11.6 7.6 16.4 1.7 4.8 3.7 13.2 4.5 18.6 0.7 5.4 1.1 13.3 0.7 17.4-0.2 4.1-0.5 8.2-0.6 9zm-19.2-11.7c0.2-3.8-0.6-11-1.6-16-1.1-5.2-3.6-13.1-5.8-17.6-2.1-4.5-5.5-10.7-7.5-13.6-2.1-2.9-7.4-9.1-11.8-13.9-4.5-4.6-12.1-11.9-17-16-4.8-4.1-31.6-24.6-59.4-45.7-27.9-20.9-162.4-121.1-298.9-222.5-136.6-101.3-254.2-188.1-261.6-192.7-7.3-4.6-17.4-10.5-22.5-13-8.5-4.2-10.7-4.7-24.7-7.1-14.7-2.5-15.6-2.6-23.7-0.9-4.6 0.9-11.6 3-15.5 4.6-4 1.7-9.7 4.7-12.8 6.7-3 2-8.4 6.3-11.9 9.7-3.7 3.3-9.3 9.8-12.7 14.5-3.3 4.7-7.3 11.3-8.8 14.7-2 4.2-3.7 10.2-5.3 19.4-2.1 11.3-2.3 14.3-1.4 20.3 0.6 3.9 2.3 10.7 3.9 15.2 1.7 4.7 5.7 12.5 9.3 18 3.5 5.4 9.5 13 13.3 16.9 3.8 3.8 10.4 10.1 14.8 14 4.4 3.8 53.9 41.4 110.2 83.4 56.2 42 188.5 140.6 293.9 218.9 105.4 78.3 199 147.5 208 153.5 9 6.1 20.5 13.2 25.6 15.9 5.2 2.6 13.7 6.3 18.9 8.1 5.9 1.9 12.3 3.4 16.6 3.8 3.9 0.4 9.8 0.4 13.2 0.2 3.4-0.3 9.5-1.4 13.6-2.5 4.2-1.1 10.7-3.7 14.6-5.8 4.1-2 10.5-6.4 14.4-9.6 4.1-3.4 9.2-8.2 11.4-10.7 2.3-2.7 6.1-7.9 8.5-11.6 2.3-3.8 5.4-9.6 6.8-13 1.3-3.5 3.1-9 4-12.5 0.9-3.5 1.8-9.4 1.9-13.1z"/>
        </svg>
        <svg id="circle-1" class="custom-shape fill-yellow pulse-1" viewBox="0 0 484 484" width="484" height="484">
            <path class="s0" d="m242 484c-133.8 0-242-108.2-242-242 0-133.8 108.2-242 242-242 133.8 0 242 108.2 242 242 0 133.8-108.2 242-242 242z"/>
        </svg>
        <svg id="triangle-2" class="custom-shape fill-yellow pulse-4" viewBox="0 0 341 341" width="341" height="341">
            <path id="Forme 1" class="s0" d="m249.6 0.3l91 340.4-340.2-91.4z"/>
        </svg>
        <svg id="dash-1" class="custom-shape fill-pink left-right-2" viewBox="0 0 935 518" width="935" height="518">
            <path id="Calque 1" class="s0" d="m38.7 497.2c-0.7-0.4-4-3.8-7.6-7.4-3.5-3.6-8.6-9.9-11.5-14.2-2.9-4.4-6.8-11.2-8.7-15.3-1.9-4.2-4.7-11.6-6.2-16.8-1.5-5-3.1-13.8-3.6-19.6-0.5-5.6-0.7-13.6-0.3-17.6 0.2-4.1 1.5-11.5 2.8-16.5 1.4-5.1 4-12.5 6-16.6 2-4.1 6-10.8 8.8-14.8 3.1-4.1 8.3-9.8 12.1-13.3 3.7-3.4 10.3-8.6 14.6-11.7 4.2-3 12.7-8.2 18.8-11.6 6.1-3.2 20.4-10.2 31.7-15.5 11.3-5.2 163.4-71.1 338-146.5 174.6-75.3 323.4-139.3 330.6-142.2 7.3-2.9 18.2-6.9 24.2-8.8 6-2 14.6-4.5 19.2-5.5 4.4-1.1 12.9-2.4 18.7-2.9 5.7-0.5 15.1-0.4 20.7 0.2 5.7 0.6 14.1 2.3 18.9 3.9 4.9 1.5 12.2 4.7 16.4 6.9 5.8 3.2 9.8 6.3 17.2 13 7.2 6.6 10.8 10.7 14.8 16.5 2.8 4.3 7 11.9 9.4 16.9 2.2 5 5.1 12.5 6.3 16.6 1.1 4.2 2.6 10.9 3.1 14.9 0.5 4.1 1 10.9 1.1 15.4 0 4.3-0.7 12-1.5 17-0.9 5-3.3 13.3-5.4 18.4-3.3 8.1-4.8 10.6-12.7 20.6-7.4 9.5-10.3 12.5-17 17.8-4.4 3.5-12.3 8.8-17.5 12-5.3 3.2-15.9 8.8-23.8 12.7-7.9 3.8-147.2 64.3-309.5 134.5-162.3 70.2-314.9 136-339.1 146.3-24.1 10.3-49.6 20.6-56.6 23-7 2.3-16 5.1-20 6-4 1-11.1 2.4-15.7 3.1-4.7 0.9-12.6 1.4-17.5 1.3-4.9 0-13-0.8-18-1.7-5-0.9-13.2-3.3-18.3-5.4-5.1-2-12.1-5.7-15.5-8-3.4-2.2-6.8-4.6-7.4-5.1z"/>
        </svg>
        <svg id="dash-2" class="custom-shape fill-dark-yellow left-right-1" viewBox="0 0 935 518" width="935" height="518">
            <path id="Calque 1" class="s0" d="m38.7 497.2c-0.7-0.4-4-3.8-7.6-7.4-3.5-3.6-8.6-9.9-11.5-14.2-2.9-4.4-6.8-11.2-8.7-15.3-1.9-4.2-4.7-11.6-6.2-16.8-1.5-5-3.1-13.8-3.6-19.6-0.5-5.6-0.7-13.6-0.3-17.6 0.2-4.1 1.5-11.5 2.8-16.5 1.4-5.1 4-12.5 6-16.6 2-4.1 6-10.8 8.8-14.8 3.1-4.1 8.3-9.8 12.1-13.3 3.7-3.4 10.3-8.6 14.6-11.7 4.2-3 12.7-8.2 18.8-11.6 6.1-3.2 20.4-10.2 31.7-15.5 11.3-5.2 163.4-71.1 338-146.5 174.6-75.3 323.4-139.3 330.6-142.2 7.3-2.9 18.2-6.9 24.2-8.8 6-2 14.6-4.5 19.2-5.5 4.4-1.1 12.9-2.4 18.7-2.9 5.7-0.5 15.1-0.4 20.7 0.2 5.7 0.6 14.1 2.3 18.9 3.9 4.9 1.5 12.2 4.7 16.4 6.9 5.8 3.2 9.8 6.3 17.2 13 7.2 6.6 10.8 10.7 14.8 16.5 2.8 4.3 7 11.9 9.4 16.9 2.2 5 5.1 12.5 6.3 16.6 1.1 4.2 2.6 10.9 3.1 14.9 0.5 4.1 1 10.9 1.1 15.4 0 4.3-0.7 12-1.5 17-0.9 5-3.3 13.3-5.4 18.4-3.3 8.1-4.8 10.6-12.7 20.6-7.4 9.5-10.3 12.5-17 17.8-4.4 3.5-12.3 8.8-17.5 12-5.3 3.2-15.9 8.8-23.8 12.7-7.9 3.8-147.2 64.3-309.5 134.5-162.3 70.2-314.9 136-339.1 146.3-24.1 10.3-49.6 20.6-56.6 23-7 2.3-16 5.1-20 6-4 1-11.1 2.4-15.7 3.1-4.7 0.9-12.6 1.4-17.5 1.3-4.9 0-13-0.8-18-1.7-5-0.9-13.2-3.3-18.3-5.4-5.1-2-12.1-5.7-15.5-8-3.4-2.2-6.8-4.6-7.4-5.1z"/>
        </svg>
        <svg id="dash-3" class="custom-shape fill-blue up-down-1" viewBox="0 0 560 916" width="560" height="916">
            <path id="Calque 1" class="s0" d="m455 0.2c0.8-0.1 5.5 0.3 10.5 0.8 5 0.5 13 2.1 18 3.5 5 1.5 12.4 4.2 16.5 6.1 4.1 2 11.1 5.9 15.5 8.9 4.4 2.9 11.3 8.6 15.4 12.7 4 4 9.3 10 11.6 13.3 2.4 3.3 6.2 9.8 8.4 14.5 2.2 4.7 5 12.1 6.1 16.5 1.1 4.4 2.3 12.1 2.7 17 0.3 5.1 0 12.9-0.7 18-0.6 5-2.3 13.2-3.6 18.3-1.3 5-4.5 14.5-7 21-2.6 6.4-9 20.9-14.3 32.2-5.3 11.3-79.5 159.5-164.8 329.5-85.3 170-158.1 314.6-161.8 321.5-3.7 6.9-9.5 16.9-12.9 22.3-3.3 5.4-8.3 12.8-11.1 16.5-2.7 3.7-8.4 10.1-12.5 14.2-4.1 4.1-11.3 10.1-16 13.2-4.7 3.2-12.3 7.3-17 9.2-4.7 1.9-12.3 4.2-17 5.2-6.5 1.3-11.5 1.5-21.5 1.1-9.8-0.4-15.2-1.2-22-3.1-4.9-1.5-13-4.6-18-6.9-4.9-2.4-11.9-6.3-15.5-8.7-3.6-2.5-9-6.7-12-9.4-3-2.8-7.8-7.7-10.7-11.1-2.8-3.3-7.2-9.6-9.8-14-2.5-4.4-6-12.3-7.7-17.5-2.7-8.4-3.1-11.2-3.5-24-0.4-12-0.1-16.2 1.6-24.5 1.1-5.5 3.7-14.7 5.7-20.5 2-5.8 6.5-17 10.1-25 3.6-8 71.4-143.9 150.6-302 79.2-158.1 153.8-306.6 165.7-330 11.9-23.4 24.8-47.7 28.6-54 3.8-6.3 9-14.2 11.4-17.5 2.5-3.3 7-8.9 10.1-12.5 3-3.6 8.7-9.1 12.5-12.2 3.8-3.1 10.5-7.7 14.9-10.3 4.4-2.5 12.3-5.9 17.5-7.6 5.2-1.7 12.9-3.4 17-3.8 4.1-0.5 8.2-0.9 9-0.9z"/>
        </svg>
        <svg id="dash-4" class="custom-shape fill-pink up-down-2" viewBox="0 0 560 916" width="560" height="916">
            <path id="Calque 1" class="s0" d="m455 0.2c0.8-0.1 5.5 0.3 10.5 0.8 5 0.5 13 2.1 18 3.5 5 1.5 12.4 4.2 16.5 6.1 4.1 2 11.1 5.9 15.5 8.9 4.4 2.9 11.3 8.6 15.4 12.7 4 4 9.3 10 11.6 13.3 2.4 3.3 6.2 9.8 8.4 14.5 2.2 4.7 5 12.1 6.1 16.5 1.1 4.4 2.3 12.1 2.7 17 0.3 5.1 0 12.9-0.7 18-0.6 5-2.3 13.2-3.6 18.3-1.3 5-4.5 14.5-7 21-2.6 6.4-9 20.9-14.3 32.2-5.3 11.3-79.5 159.5-164.8 329.5-85.3 170-158.1 314.6-161.8 321.5-3.7 6.9-9.5 16.9-12.9 22.3-3.3 5.4-8.3 12.8-11.1 16.5-2.7 3.7-8.4 10.1-12.5 14.2-4.1 4.1-11.3 10.1-16 13.2-4.7 3.2-12.3 7.3-17 9.2-4.7 1.9-12.3 4.2-17 5.2-6.5 1.3-11.5 1.5-21.5 1.1-9.8-0.4-15.2-1.2-22-3.1-4.9-1.5-13-4.6-18-6.9-4.9-2.4-11.9-6.3-15.5-8.7-3.6-2.5-9-6.7-12-9.4-3-2.8-7.8-7.7-10.7-11.1-2.8-3.3-7.2-9.6-9.8-14-2.5-4.4-6-12.3-7.7-17.5-2.7-8.4-3.1-11.2-3.5-24-0.4-12-0.1-16.2 1.6-24.5 1.1-5.5 3.7-14.7 5.7-20.5 2-5.8 6.5-17 10.1-25 3.6-8 71.4-143.9 150.6-302 79.2-158.1 153.8-306.6 165.7-330 11.9-23.4 24.8-47.7 28.6-54 3.8-6.3 9-14.2 11.4-17.5 2.5-3.3 7-8.9 10.1-12.5 3-3.6 8.7-9.1 12.5-12.2 3.8-3.1 10.5-7.7 14.9-10.3 4.4-2.5 12.3-5.9 17.5-7.6 5.2-1.7 12.9-3.4 17-3.8 4.1-0.5 8.2-0.9 9-0.9z"/>
        </svg>
        <svg id="circle-2" class="custom-shape fill-pink pulse-2" viewBox="0 0 484 484" width="484" height="484">
            <path class="s0" d="m242 484c-133.8 0-242-108.2-242-242 0-133.8 108.2-242 242-242 133.8 0 242 108.2 242 242 0 133.8-108.2 242-242 242z"/>
        </svg>
        <svg id="circle-border-1" class="custom-shape fill-yellow pulse-2" viewBox="0 0 600 600" width="600" height="600">
            <path class="s0" d="m300 542c-133.8 0-242-108.2-242-242 0-133.8 108.2-242 242-242 133.8 0 242 108.2 242 242 0 133.8-108.2 242-242 242zm-23-462.9c-4.7 0.5-14.2 2-21.3 3.4-7 1.4-17.1 3.9-22.4 5.6-5.4 1.7-14.4 5.1-20.1 7.5-5.6 2.4-14.4 6.7-19.4 9.5-5.1 2.8-13.1 7.6-17.8 10.7-4.7 3.1-13.7 10-20 15.3-6.3 5.2-15.4 14-20.3 19.5-4.8 5.4-11.8 14.2-15.5 19.4-3.8 5.2-9.6 14.2-13 20-3.4 5.8-8.4 15.8-11.2 22.2-2.7 6.5-6.5 16.9-8.4 23-1.9 6.2-4.4 16.2-5.5 22.3-1.1 6.1-2.5 15.9-3.1 22-0.5 6.1-1 15.3-1 20.5 0 5.2 0.5 14.4 1 20.5 0.6 6.1 2 15.9 3.1 22 1.1 6.1 3.6 16.1 5.5 22.2 1.9 6.2 5.7 16.6 8.4 23 2.8 6.5 7.8 16.5 11.2 22.3 3.4 5.8 9.2 14.8 13 20 3.7 5.2 10.7 14 15.5 19.4 4.9 5.5 14 14.3 20.3 19.5 6.3 5.3 15.3 12.2 20 15.3 4.7 3.1 12.6 7.8 17.5 10.5 4.9 2.8 12.8 6.7 17.5 8.7 4.7 2.1 13.7 5.5 20 7.6 6.3 2.2 17.1 5 24 6.4 6.9 1.3 17.4 2.9 23.5 3.5 6.1 0.6 15.7 1.1 21.5 1.1 5.8 0 15.4-0.5 21.5-1.1 6.1-0.6 16.6-2.2 23.5-3.5 6.9-1.4 17.7-4.2 24-6.4 6.3-2.1 15.3-5.5 20-7.6 4.7-2 12.6-5.9 17.5-8.7 4.9-2.7 12.8-7.4 17.5-10.5 4.7-3.1 13.7-10 20-15.3 6.3-5.3 15.1-13.6 19.4-18.5 4.4-4.9 11-13 14.6-17.9 3.7-4.9 9.3-13.3 12.4-18.5 3.2-5.2 7.7-13.6 10.1-18.5 2.3-4.9 5.9-13.5 8-19 2-5.5 5-14.9 6.5-21 1.6-6.1 3.6-16.4 4.6-23 1.3-8.3 1.8-18.2 1.8-32 0.1-11-0.5-24.1-1.2-29-0.7-4.9-2-12.6-2.8-17-0.9-4.4-3.1-13.1-5-19.3-1.9-6.1-5.6-16.3-8.2-22.5-2.7-6.1-7.6-16-11-22-3.4-5.9-9.3-15.1-13.2-20.5-3.8-5.3-10.9-14.2-15.7-19.6-4.9-5.5-14-14.3-20.3-19.5-6.3-5.3-15.3-12.2-20-15.3-4.7-3.1-12.6-7.8-17.5-10.5-4.9-2.8-12.8-6.7-17.5-8.7-4.7-2.1-13.7-5.5-20-7.6-6.3-2.2-17.1-5-24-6.4-6.9-1.3-17.4-2.9-23.5-3.5-6.1-0.6-16.6-1-23.5-1-6.9 0.1-16.3 0.6-21 1z"/>
        </svg>
        <svg id="triangle-1" class="custom-shape fill-blue pulse-3" viewBox="0 0 341 341" width="341" height="341">
            <path id="Forme 1" class="s0" d="m249.6 0.3l91 340.4-340.2-91.4z"/>
        </svg>
        <svg id="half-circle-1" class="custom-shape fill-pink up-down-2" viewBox="0 0 471 326" width="471" height="326">
            <path id="Remplissage couleur unie 1" class="s1" d="m14.9 0.4l455.6 165.8-5.6 13.2c-2.9 7.2-8.2 17.9-11.5 23.7-3.3 5.8-9.1 15-12.9 20.3-3.7 5.3-10.5 13.9-14.9 19-4.5 5.1-12.8 13.6-18.5 18.9-5.6 5.3-14.6 12.7-20 16.6-5.2 4-14 9.9-19.4 13.2-5.5 3.3-15.6 8.6-22.6 11.8-7 3.4-17.6 7.7-23.7 9.7-6 2.1-16.2 5-22.6 6.6-6.4 1.5-17.9 3.6-25.6 4.5-7.7 1-19 1.8-25.2 2-6.2 0.2-16.9-0.1-23.7-0.6-6.8-0.6-18.2-2-25.4-3.3-11.6-2-15.9-3.2-38.9-11.6-23-8.4-27-10.2-37.2-16.1-6.3-3.6-16-9.9-21.6-13.8-5.6-4-13.9-10.6-18.6-14.8-4.6-4.1-12.2-11.4-16.9-16.4-4.6-4.9-11.5-13-15.3-17.9-3.8-4.8-10-13.9-13.9-20-3.8-6.2-9.8-17.3-13.2-24.7-3.5-7.5-8-18.4-10.1-24.4-2-6-4.9-16.2-6.4-22.6-1.6-6.5-3.7-18-4.7-25.6-0.9-7.7-1.8-19.5-1.9-26.3-0.2-6.8 0.2-17.7 0.7-24.2 0.6-6.5 2-17.3 3.3-23.8 1.1-6.6 4-18.1 6.4-25.6z"/>
        </svg>
        <svg id="half-circle-2" class="custom-shape fill-yellow pulse-2" viewBox="0 0 399 429" width="399" height="429">
            <path id="Remplissage couleur unie 1" class="s1" d="m0.1 371.5l311.6-371.4 10.5 9.8c5.8 5.2 14 13.8 18.3 18.9 4.3 5.1 10.9 13.7 14.7 19.1 3.7 5.3 9.5 14.6 12.8 20.5 3.2 5.9 8.3 16.6 11.4 23.8 3 7.1 6.9 18.1 8.8 24.5 1.9 6.3 4.5 16.5 5.7 22.7 1.2 6.3 2.8 17.7 3.4 25.4 0.7 7.6 1.2 19.1 1 25.5-0.1 6.3-0.9 16.9-1.6 23.5-0.7 6.5-2.7 18-4.5 25.6-1.7 7.5-4.7 18.4-6.7 24.4-2 5.9-5.9 15.8-8.7 22-2.9 6.2-8.1 16.5-11.8 22.8-5.8 10.2-8.4 13.8-24.2 32.5-15.7 18.8-18.8 22-27.9 29.5-5.4 4.7-14.7 11.7-20.3 15.6-5.6 3.9-14.7 9.4-20.2 12.4-5.5 2.9-15 7.5-21.3 10.2-6.1 2.7-16.1 6.5-22 8.3-5.8 1.9-16.5 4.7-23.6 6.2-7.1 1.5-19.6 3.3-27.7 4-8.2 0.7-20 1.2-26.4 1.1-6.3-0.2-16.9-0.9-23.4-1.6-6.6-0.7-18.1-2.7-25.7-4.5-7.5-1.7-18.9-4.9-25.3-7.1-6.4-2.2-16.6-6.2-22.5-9-5.9-2.7-15.5-7.8-21.3-11.2-5.8-3.3-15.6-10-21.8-14.8z"/>
        </svg>
        <svg id="half-circle-3" class="custom-shape fill-blue pulse-4" viewBox="0 0 399 429" width="399" height="429">
            <path id="Remplissage couleur unie 1" class="s1" d="m0.1 371.5l311.6-371.4 10.5 9.8c5.8 5.2 14 13.8 18.3 18.9 4.3 5.1 10.9 13.7 14.7 19.1 3.7 5.3 9.5 14.6 12.8 20.5 3.2 5.9 8.3 16.6 11.4 23.8 3 7.1 6.9 18.1 8.8 24.5 1.9 6.3 4.5 16.5 5.7 22.7 1.2 6.3 2.8 17.7 3.4 25.4 0.7 7.6 1.2 19.1 1 25.5-0.1 6.3-0.9 16.9-1.6 23.5-0.7 6.5-2.7 18-4.5 25.6-1.7 7.5-4.7 18.4-6.7 24.4-2 5.9-5.9 15.8-8.7 22-2.9 6.2-8.1 16.5-11.8 22.8-5.8 10.2-8.4 13.8-24.2 32.5-15.7 18.8-18.8 22-27.9 29.5-5.4 4.7-14.7 11.7-20.3 15.6-5.6 3.9-14.7 9.4-20.2 12.4-5.5 2.9-15 7.5-21.3 10.2-6.1 2.7-16.1 6.5-22 8.3-5.8 1.9-16.5 4.7-23.6 6.2-7.1 1.5-19.6 3.3-27.7 4-8.2 0.7-20 1.2-26.4 1.1-6.3-0.2-16.9-0.9-23.4-1.6-6.6-0.7-18.1-2.7-25.7-4.5-7.5-1.7-18.9-4.9-25.3-7.1-6.4-2.2-16.6-6.2-22.5-9-5.9-2.7-15.5-7.8-21.3-11.2-5.8-3.3-15.6-10-21.8-14.8z"/>
        </svg>
        <div class="wrapper">
            <div class="introduction z-index-2">
                <div class="title">
                    <h1><span style="font-weight: 400;">Développeur d'application</span> Symfony/React</h1>
                    <p><b>Site vitrine</b>, <b>e-commerce</b>, <b>intégration</b>, <b>programmation</b>, <b>informatique</b>, <b>application web</b>, <b>responsive</b>...</p>
                    <p>...une solution <b>sur-mesure</b> adaptée à <b>chaque besoin</b> !</p>
                    <button id="scroll-to-partners" role="button"><i class="fas fa-arrow-down"></i></button>
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="box box-light-radial swiper-slide">
                            <h2>Voir la vie en <span style="font-size: var(--fs-very-big-title);">
                                <span style="color: var(--clr-orange)">M</span><span style="color: var(--clr-blue)">o</span><span style="color: var(--clr-pink)">n</span><span style="color: var(--clr-green)">o</span><span style="color: var(--clr-yellow)">k</span><span style="color: var(--clr-purple)">a</span><span style="color: var(--clr-orange)">i</span>
                             !</span></h2>
                            <p class="center-text">Actuellement en formation chez <b>OpenClassrooms</b>, j'apprends le <b>développement back-end</b> dans le but d'obtenir un <b>titre RNCP</b> de <b>niveau 6</b>, équivalent à un <b>BAC+3/4 !</b></p>
                            <ul class="stats">
                                <li class="stat">
                                    <i class="fas fa-code"></i>
                                    <p><b>+2</b> ans</p>
                                </li>
                                <li class="stat">
                                    <i class="fas fa-cogs"></i>
                                    <p><b>+30</b> projets</p>
                                </li>
                                <li class="stat">
                                    <i class="fas fa-users"></i>
                                    <p><b>+20</b> clients</p>
                                </li>
                            </ul>
                        </div>
                        <div class="box box-very-light-blue swiper-slide">
                            <h2>Marquez le web de votre <span style="font-size: var(--fs-very-big-title);">
                                empreinte.</span></h2>
                            <p>Retro, moderne, futuriste, relaxant, extravagant ou minimaliste&nbsp;: construisez le site qui vous ressemble !</p>
                            <p>Il existe autant de sites web que de besoins.</p>
                        </div>
                        <div class="box box-very-light-yellow swiper-slide">
                            <h2>Marre d'être <span style="font-size: var(--fs-very-big-title);">
                                invisible&nbsp;?</span></h2>
                            <p>Avoir un joli site vitrine, c'est bien, mais avoir un site visible, c'est mieux ! À quoi bon avoir un site esthétique et bien réalisé, si  personne ne le voit jamais ?</p>
                            <p>Le référencement est un aspect d'un site à ne surtout pas négliger !</p>
                        </div>
                        <div class="box box-very-light-pink swiper-slide">
                            <h2>Et si nous développions...</h2>
                            <p>De la newsletter au logiciel de gestion, en passant par le site e-commerce et l'application mobile, le web est tout simplement un nouveau mode de communication, de divertissement.</p>
                            <p>Pourquoi se passer de ce formidable terrain de jeu, où toutes les idées peuvent s'exprimer ?</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next">
                    <img src="ressources/images/icons/arrow-right.png">
                </div>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom z-index-1" src="/ressources/images/vectors/vector-bottom-right-white.svg" alt="">
    </section>
    <section id="partners" class="partners">
        <div class="wrapper">
            <ul>
                <li><a target="_blank" href="https://github.com/FlorianJourde"><img src="/ressources/images/logos/github.png" loading="lazy" alt=""></a></li>
                <li><a target="_blank" href="https://twitter.com/Ctrl_FJ"><img src="/ressources/images/logos/twitter.png" loading="lazy" alt=""></a></li>
                <li><a target="_blank" href="https://www.frontendmentor.io/profile/FlorianJourde"><img src="/ressources/images/logos/frontend-mentor.png" loading="lazy" alt=""></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/florianjourde/"><img src="/ressources/images/logos/linkedin.png" loading="lazy" alt=""></a></li>
                <li><a target="_blank" href="https://www.codewars.com/users/FlorianJourde"><img src="/ressources/images/logos/codewars.png" loading="lazy" alt=""></a></li>
                <li class="copy-text" data-content="florianjourde"><a target="_blank" href="florianjourde"><img src="/ressources/images/logos/discord-logo.png" loading="lazy" alt=""></a></li>
            </ul>
        </div>
    </section>
    <main class="archive z-index-2 offset-next-element">
        <div class="wrapper">
            <h2 class="section-title">Derniers articles</h2>
            <div class="posts">
                {% for post in posts %}
                    <div class="post fade-in-up">
                        <img loading="lazy" class="thumbnail" src="/ressources/images/posts/{{ post.image }}" alt="">
                        {% if session.role == 'Admin' %}
                            <div class="actions icon-spacing white">
                                <a href="/article/modification/{{ post.identifier }}"><i class="fas fa-edit"></i>Modifier</a>
                                <a href="/article/suppression/{{ post.identifier }}"><i class="fas fa-trash"></i>Supprimer</a>
                            </div>
                        {% endif %}
                        <div class="content">
                            <h3 class="title">{{ post.title }}</h3>
                            <p class="description">{{ post.content | striptags | slice(0, 100) ~ '...' }}</p>
                            <a class="button-secondary rotate-icon button-white" href="/article/{{ post.identifier }}">Lire l'article<i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <section class="portrait position-relative">
        <img class="vector-shape vector-shape-top" src="/ressources/images/vectors/vector-top-right-white-3.svg" alt="">
        <div class="wrapper">
            {# <img class="profile-picture" src="/ressources/images/florian.jpg" alt=""> #}
            <div class="presentation">
                <img class="profile-picture" src="/ressources/images/florian.jpg" alt="">
                <h2>Bienvenue sur mon blog&nbsp!</h2>
                <p>Reconverti du milieu des <b>industries graphiques</b> vers le <b>développement web</b> depuis maintenant deux ans, mon parcours singulier m'a permis de développer des compétences en <b>design</b>, <b>marketing</b>, <b>communication</b>, <b>rédaction</b>...</p>
                <p>Malgré mon appétence naturelle pour le <b>développement front-end</b> ainsi que l'<b>UX</b> et l'<b>UI</b> des interface numériques, je suis aujourd'hui déterminé à apprendre et consolider mes connaissances dans tout ce qui touche à la partie <b>back-end</b> des <b>sites internet</b>, dans l'optique de devenir un jour, je l'espère, <b>développeur full-stack</b>&nbsp!</p>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="/ressources/images/vectors/vector-bottom-left-white.svg" alt="">
    </section>
    <section class="achievements z-index-3">
        <div class="wrapper">
            <h2 class="section-title">Réalisations</h2>
            <ul>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/chalets-et-caviar.jpg" alt="">
                    <a href="https://openclassrooms.com/fr/" target="_blank" class="reference">OpenClassrooms</a>
                    <span class="reference annotations">Wordpress</span>
                    <div class="description">
                        <h3>Chalets & Caviar</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="http://chaletsetcaviar.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-2-Wordpress-theme-integration-for-a-client"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/les-films-de-plein-air.jpg" alt="">
                    <a href="https://openclassrooms.com/fr/" target="_blank" class="reference">OpenClassrooms</a>
                    <span class="reference annotations">HTML • CSS</span>
                    <div class="description">
                        <h3>Les Films de plein air</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="http://lesfilmsdepleinair.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-3-Analyze-your-client-s-needs-for-their-film-festival"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/snowtricks.jpg" alt="">
                    <a href="https://openclassrooms.com/fr/" target="_blank" class="reference">OpenClassrooms</a>
                    <span class="reference annotations">Symfony</span>
                    <div class="description">
                        <h3>Snowtricks</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://snowtricks.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-6-Develop-the-SnowTricks-community-site"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/todo-and-co.jpg" alt="">
                    <a href="https://openclassrooms.com/fr/" target="_blank" class="reference">OpenClassrooms</a>
                    <span class="reference annotations">Symfony</span>
                    <div class="description">
                        <h3>ToDo & Co</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://todoandco.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/OpenClassrooms-8-Enhance-an-existing-ToDo-and-Co-app"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/space-tourism.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/space-tourism-with-react-and-scss-Lz0VJ2qBgL" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">React</span>
                    <div class="description">
                        <h3>Space Tourism</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://spacetourism.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-20-Space-tourism-multi-page-website"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/social-media-dashboard.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/social-media-dashboard-with-react-and-scss-GjGGCjkZqR" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">React</span>
                    <div class="description">
                        <h3>Social Media Dashboard</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://socialmediadashboard.florianjourde.com/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-19-Social-media-dashboard-with-theme-switcher"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/blogr.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/blogr-landing-page-solution-with-html-css-js-GkOSPJcuN" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">HTML • CSS • JS</span>
                    <div class="description">
                        <h3>Blogr</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-17-Blogr-landing-page/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-17-Blogr-landing-page"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/splitter.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/tip-calculator-app-with-html-css-and-js-F8GbQECjT" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">HTML • CSS • JS</span>
                    <div class="description">
                        <h3>Splitter</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-15-Tip-calculator-app/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-15-Tip-calculator-app"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
                <li class="fade-in-up">
                    <img loading="lazy" src="/ressources/images/thumbnails/time-tracker.jpg" alt="">
                    <a href="https://www.frontendmentor.io/solutions/time-tracking-dashboard-solution-with-html-css-js-LCqeEN-Wr" target="_blank" class="reference">Frontend Mentor</a>
                    <span class="reference annotations">HTML • CSS • JS</span>
                    <div class="description">
                        <h3>Time Tracker</h3>
                        <div class="links">
                            <a target="_blank" class="button-secondary button-white button-small" href="https://florianjourde.github.io/Frontend-Mentor-14-Time-tracking-dashboard/"><i class="fas fa-globe"></i>Site</a>
                            <a target="_blank" class="button-secondary button-white button-small" href="https://github.com/FlorianJourde/Frontend-Mentor-14-Time-tracking-dashboard"><i class="fab fa-github"></i>Dépot</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="skills position-relative z-index-2">
        <img class="vector-shape vector-shape-top" src="/ressources/images/vectors/vector-top-left-white-2.svg" alt="">
        <div class="wrapper">
            <h2 class="section-title">Compétences</h2>
            <ul>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/html-logo.png" alt=""><h3 style="color: #e44d26;">HTML</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/sass-logo.png" alt=""><h3 style="color: #cd6799;">Sass</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/javascript-logo.png" alt=""><h3 style="color: #000000;">Javascript</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/mysql-logo.png" alt=""><h3 style="color: #00758f;">MySQL</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/php-logo.png" alt=""><h3 style="color: #8993be;">PHP</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/symfony-logo.png" alt=""><h3 style="color: #1a171b;">Symfony</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/react-logo.png" alt=""><h3 style="color: #087ea4;">React</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/wordpress-logo.png" alt=""><h3 style="color: #32373c;">Wordpress</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/git-logo.png" alt=""><h3 style="color: #de4c36;">Git</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/twig-logo.png" alt=""><h3 style="color: #52820f;">Twig</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/photoshop-logo.png" alt=""><h3 style="color: #31a8ff;">Photoshop</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/illustrator-logo.png" alt=""><h3 style="color: #df8600;">Illustrator</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/indesign-logo.png" alt=""><h3 style="color: #ff3068;">InDesign</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/jquery-logo.png" alt=""><h3 style="color: #1266a9;">jQuery</h3></li>
                <li class="fade-in-up"><img loading="lazy" src="/ressources/images/logos/figma-logo.png" alt=""><h3 style="color: #a259ff;">Figma</h3></li>
            </ul>
        </div>
    </section>
    {% include 'partials/work.twig' with { vector_shape : 'vector-top-left-very-light-grey-2.svg' } %}
{% endblock %}