{% extends 'layout.twig' %}

{% block head %}Gestion des commentaires{% endblock %}

{% block content %}
    <section class="banner offset-next-element" style="background-image: url('./ressources/images/vector-shapes-2.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Gestion des commentaires</h1>
            </div>
        </div>
        <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-white.svg" alt="">
    </section>
    <section class="management">
        <div class="wrapper">
            {% for post in posts %}
                <div class="single" style="background-color: {{ random(['var(--clr-dark-green)', 'var(--clr-dark-blue)', 'var(--clr-dark-purple)', 'var(--clr-dark-yellow)', 'var(--clr-dark-orange)', 'var(--clr-dark-pink)']) }};">
                    <div class="post">
                        <div class="header">
{#                            <div class="title">#}
                                <h3 class="title"><i class="fas fa-newspaper"></i>{{ post.title }}</a></h3>
                                {% if session.role == 'Admin' %}
                                    <div class="actions">
                                        <a class="hide" href="index.php?action=post&id={{ post.identifier }}"><i class="fas fa-eye"></i>Voir</a>
                                        <a class="edit" href="index.php?action=updatePost&id={{ post.identifier }}"><i class="fas fa-edit"></i>Modifier</a>
                                        <a class="delete" href="index.php?action=deletePost&id={{ post.identifier }}"><i class="fas fa-trash"></i>Supprimer</a>
                                    </div>
                                {% endif %}
{#                            </div>#}
                        </div>
{#                        <div class="content">#}
                            <p class="description">{{ post.content }}</p>
                            <p><span class="author">{{ post.username }}</span> le <span class="date">{{ post.creationDate }}</span></p>
{#                            <a class="button-secondary button-blue" href="index.php?action=post&id={{ post.identifier }}">Lire l'article</a>#}
{#                        </div>#}
                    </div>

{#                    {% for comment in post.hiddenComments %}#}
{#                        <div class="comment">#}
{#                            <div class="title">#}
{#                                <p><strong>{{ comment.username }}</strong> le {{ comment.creationDate }}</p>#}
{#                                    {% if (session.role == 'Admin') or (session.id == comment.user_id) %}#}
{#                                    <div class="actions">#}
{#                                        <a href="index.php?action=showComment&id={{ comment.identifier }}">Afficher</a>#}
{#                                        <a href="index.php?action=updateComment&id={{ comment.identifier }}">Modifier</a>#}
{#                                        <a href="index.php?action=deleteComment&id={{ comment.identifier }}">Supprimer</a>#}
{#                                    </div>#}
{#                                    {% endif %}#}
{#                            </div>#}
{#                            <div class="content">#}
{#                                <p>{{ comment.comment }}</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}

                    {% for comment in post.hiddenComments %}
                        <div class="comment">
                            <div class="header">
                                <p class="username"><i class="fas fa-user"></i>{{ comment.username }}</p>
                                {% if (session.role == 'Admin') or (session.id == comment.user_id) %}
                                    <div class="actions">
                                        <a class="hide" href="index.php?action=showComment&id={{ comment.identifier }}"><i class="fas fa-eye"></i>Accepter</a>
                                        <a class="edit" href="index.php?action=updateComment&id={{ comment.identifier }}"><i class="fas fa-edit"></i>Modifier</a>
                                        <a class="delete" href="index.php?action=deleteComment&id={{ comment.identifier }}"><i class="fas fa-trash"></i>Supprimer</a>
                                    </div>
                                {% endif %}
                            </div>
                            <p class="date">le {{ comment.creationDate }}</p>
                            <div class="content">
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <img class="vector-shape vector-shape-bottom vector-shape-behind" src="./ressources/images/vector-bottom-right-dark-grey.svg" alt="">
    </section>
{% endblock %}