{% extends 'layout.twig' %}

{% block title %}Gestion des commentaires{% endblock %}

{% block content %}
    <section class="banner offset-next-element" style="background-image: url('/ressources/images/monokai/monokai-2.jpg');">
        <div class="wrapper">
            <div class="title">
                <h1>Gestion des commentaires</h1>
            </div>
        </div>

        <svg class="vector-shape fill-white vector-shape-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
            <use href="/ressources/images/vectors/vector-bottom-right.svg#swoop-2-bottom-left-white"/>
        </svg>

    </section>
    <section class="management position-relative">
        <div class="wrapper">
            {% for post in posts %}
                <div class="single page">
                    <div class="post">
                        <div class="header">
                            <h3 class="title icon-spacing"><i class="fas fa-newspaper"></i>{{ post.title }}</h3>
                            {% if session.role == 'Admin' %}
                                <div class="actions icon-spacing white">
                                    <a class="hide" href="/article/{{ post.identifier }}"><i class="fas fa-eye"></i>Voir</a>
                                    <a class="edit" href="/article/modification/{{ post.identifier }}"><i class="fas fa-edit"></i>Modifier</a>
                                    <a class="delete" href="/article/suppression/{{ post.identifier }}"><i class="fas fa-trash"></i>Supprimer</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="description formated">{{ post.content | raw }}</div>
                            <div class="infos icon-spacing">
                                <h3><i class="fas fa-user"></i>{{ post.username }}</h3>
                                <p><i class="fas fa-calendar"></i>{{ post.creationDate }}</p>
                                {#<p><i class="fas fa-calendar"></i>{{ post.published_at|date("d/m/Y") }} <i class="fa fa-clock-o"></i>{{ post.published_at|date("H:i") }}</p>#}
                            </div>
                        </div>
                        {% for comment in post.hiddenComments %}
                            <div class="comment icon-spacing">
                                <div class="header">
                                    <p class="username icon-spacing"><i class="fas fa-user"></i>{{ comment.username }}</p>
                                    {% if (session.role == 'Admin') or (session.id == comment.user_id) %}
                                        <div class="actions">
                                            <a class="hide" href="/commentaire/validation/{{ comment.identifier }}"><i class="fas fa-eye"></i>Accepter</a>
                                            <a class="edit" href="/commentaire/modification/{{ comment.identifier }}"><i class="fas fa-edit"></i>Modifier</a>
                                            <a class="delete" href="/commentaire/suppression/{{ comment.identifier }}"><i class="fas fa-trash"></i>Supprimer</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <p class="date"><i class="fas fa-calendar"></i>{{ comment.creationDate }}</p>
                                {#<p class="date"><i class="fas fa-calendar"></i>{{ comment.published_at|date("d/m/Y") }} <i class="fa fa-clock-o"></i>{{ comment.published_at|date("H:i") }}</p>#}
                                <div class="content">
                                    <p>{{ comment.comment }}</p>
                                </div>
                            </div>
                        {% endfor %}
                </div>
            {% endfor %}
            {% if posts is empty %}
                <div class="box error">
                    <div class="icon"><i class="fas fa-exclamation-circle"></i></div>
                    <div class="question">
                        <h2>Il n'y a rien à afficher !</h2>
                        <p>Aucun nouveau commentaire..</p>
                    </div>
                    <a class="button-primary button-blue" href="/"><i class="fas fa-home"></i>Revenir à l'accueil</a>
                </div>
            {% endif %}
        </div>

        <svg class="vector-shape fill-very-dark-grey vector-shape-bottom z-index-negative-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 400" width="1440" height="400" preserveAspectRatio="none" >
            <use href="/ressources/images/vectors/vector-bottom-right.svg#swoop-2-bottom-left-white"/>
        </svg>

    </section>
{% endblock %}