{% extends 'layout.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <section class="banner offset-next-element" style="background-image: url('./ressources/images/{{ post.image }}');">
        <div class="wrapper">
            <div class="title">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
        {# <div class="vector-shape"> #}
            <img class="vector-shape vector-shape-bottom" src="./ressources/images/vector-bottom-right-white.svg" alt="">
        {# </div> #}
    </section>

    <main class="single">
        <div class="wrapper">
            {# <div class="posts"> #}
                <div class="post page">
{#                    <div class="title">#}
{#                        {% if session.role == 'Admin' %}#}
{#                            <div class="actions">#}
{#                                <a href="index.php?action=updatePost&id={{ post.identifier }}">Modifier</a>#}
{#                                <a href="index.php?action=deletePost&id={{ post.identifier }}">Supprimer</a>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    <div class="content">#}
                        <p class="description">{{ post.content }}</p>
{#                        <p><span class="author">{{ post.username }}</span> le <span class="date">{{ post.creationDate }}</span></p>#}
{#                    </div>#}


                    <div class="infos icon-spacing">
                        <h3><i class="fas fa-user"></i>{{ post.username }}</h3>
                        <p><i class="fas fa-calendar"></i>{{ post.creationDate }}</p>
                    </div>
                </div>
            {# </div> #}            
        </div>
    </main>
    {% if (comments is not empty) or (session.role is defined) %}
        <section class="comments position-relative">
            <img class="vector-shape vector-shape-top" src="./ressources/images/vector-top-left-white-2.svg" alt="">
            <div class="wrapper">
                {% if (comments is not empty) %}
                    <h2 class="section-title">Commentaires</h2>
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="header">
                                <p class="username icon-spacing"><i class="fas fa-user"></i>{{ comment.username }}</p>
                                {% if (session.role == 'Admin') or (session.id == comment.user_id) %}
                                    <div class="actions icon-spacing">
                                        <a class="hide" href="index.php?action=hideComment&id={{ comment.identifier }}"><i class="fas fa-eye"></i>Retirer</a>
                                        <a class="edit" href="index.php?action=updateComment&id={{ comment.identifier }}"><i class="fas fa-edit"></i>Modifier</a>
                                        <a class="delete" href="index.php?action=deleteComment&id={{ comment.identifier }}"><i class="fas fa-trash"></i>Supprimer</a>
                                    </div>
                                {% endif %}
                            </div>
                            <p class="date">{{ comment.creationDate }}</p>
                            <div class="content">
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if session.role is defined %}
                    <h2 class="title">Ajouter un commentaire</h2>
                    <form action="index.php?action=addComment&id={{ post.identifier }}" method="post">
                        <div class="user"></div>
                        <div>
{#                            <label for="comment">Commentaire</label><br />#}
                            <textarea id="comment" name="comment"></textarea>
                        </div>
                        <div>
                            <input class="button-form button-very-dark-grey" type="submit" />
                        </div>
                    </form>
                {% endif %}
            </div>
        </section>
    {% endif %}
{% endblock %}