{% extends 'layout.twig' %}

{% block title %}Modification du commentaire{% endblock %}

{% block content %}
   <section class="banner offset-next-element" style="background-image: url('/public/ressources/images/monokai/monokai-2.jpg');">
      <div class="wrapper">
         <div class="title">
            <h1>Modification du commentaire</h1>
         </div>
      </div>
      <img class="vector-shape vector-shape-bottom" src="/public/ressources/images/vectors/vector-bottom-right-white.svg" alt="">
   </section>
   <section class="update-comment position-relative">
      <div class="wrapper">
         <div class="page management">
            <div class="post">
               <div class="header">
                  <h3 class="title icon-spacing"><i class="fas fa-comment-alt"></i>Commentaire</h3>
                  <div class="actions icon-spacing">
                     <a class="hide" href="?action=post&id={{ post.identifier }}"><i class="fas fa-eye"></i>Voir</a>
                  </div>
               </div>
                  <form action="?action=updateComment&id={{ comment.identifier }}" method="post">
                     <textarea id="comment" name="comment">{{ comment.comment }}</textarea>
                     <div class="infos icon-spacing">
                        <h3><i class="fas fa-user"></i>{{ comment.username }}</h3>
                        <p><i class="fas fa-calendar"></i>{{ post.creationDate }}</p>
                     </div>
                     <input class="button-form button-blue" type="submit" value="Modifier" />
                  </form>
               </div>
            </div>
         </div>
      <img class="vector-shape vector-shape-bottom behind" src="/public/ressources/images/vectors/vector-bottom-right-dark-grey.svg" alt="">
   </section>
{% endblock %}